---
published: true
work: true
layout: none
title: Order of the Arrow National Site
date: 2014-04-28
---
{{> open-inc }}
{{> header-inc }}
<main role=main class="portfolio-item design">

  <header class=portfolio-item--header>
    <div class=header-content>

    <svg class=portfolio-icon version=1.1 x=0 y=0 width=150px height=150px viewBox="0 0 50 50" enable-background="new 0 0 150 150">
      <polygon points="32.767,29.654 29.651,32.771 37.742,40.862 40.858,37.745"/>
      <path d="M38.713,30.014c-0.144-0.791-0.995-1.595-1.75-1.894c-0.671-0.264-1.57-0.084-2.122,0.371
        c-0.599,0.264-1.006-0.359-1.39-0.742c0.191-0.168,0.347-0.348,0.359-0.602c0.024-0.215-0.06-0.418-0.252-0.515
        c-0.503-0.191-0.875,0.276-1.21,0.563c0.131-0.155,0.096-0.43,0.035-0.611c-0.143-0.24-0.395-0.347-0.647-0.431
        c-0.359,0.097-0.791,0.024-1.03-0.287c0.12-0.311,0.3-0.563,0.624-0.695c0.863-0.217,1.774-0.168,2.601-0.516
        c0.192-0.216,0.407-0.478,0.551-0.743c-0.287-0.169,0.253-0.324,0.036-0.539c-0.119-0.481,0.491-0.565,0.611-0.972
        c0.036-0.131-0.204-0.324,0.012-0.443c-0.059-0.275,0.073-0.575,0.349-0.731c0.251-0.3-0.049-0.575,0.191-0.887
        c0.647-0.599-0.456-1.055-0.647-1.534c-0.562-0.179-1.055-0.503-1.701-0.408c-0.169-0.215-0.528,0.072-0.708-0.203
        c0.012-0.252-0.179-0.443-0.359-0.623c-0.324,0.06-0.504-0.263-0.791-0.312c-0.407-0.431-0.972-0.634-1.463-0.958
        c0.023-0.527-0.575-0.048-0.672-0.527c-0.383-0.239-0.491-0.828-1.042-0.779c-0.372-0.228-0.864,0.119-1.224-0.239
        c-0.575,0-1.031-0.336-1.557-0.48c-0.492-0.18-1.199,0.073-1.499-0.492c-0.624-0.24-0.875-0.875-1.426-1.306
        c-0.145-0.048-0.3,0.012-0.42-0.156c-0.395,0.012-0.743-0.096-1.115-0.012c-0.455,0.527-1.187,0.059-1.714-0.061
        c-0.324-0.156-0.528-0.479-0.852-0.635c-0.227-0.205-0.551-0.168-0.851-0.228c-0.012-0.108-0.12-0.072-0.204-0.084
        c-0.275-0.205-0.73-0.085-1.066-0.06c-0.264-0.168-0.516-0.372-0.768-0.576c-0.156-0.227-0.503-0.096-0.599-0.384
        c-0.288-0.263-0.636-0.516-1.043-0.587c-0.54-0.203-1.007,0.288-1.583,0.12c-0.19-0.168-0.394-0.275-0.611-0.372
        c-0.203-0.012-0.395-0.155-0.611-0.204c-0.563,0.204-0.947-0.323-1.427,0.013C9.622,9.362,9.442,9.326,9.333,9.289
        C9.239,9.314,9.142,9.408,9.142,9.504c0.193,0.6,0.061,1.188,0.109,1.812c0.312,0.335-0.094,0.792,0.18,1.115
        c0.395,0.299,0.072,0.791,0.288,1.15c0.371,0.277,0.419,0.707,0.623,1.056c0.024,0.215,0.227,0.346,0.192,0.574
        c0.431,0.144,0.083,0.54,0.155,0.827c0.192,0.216,0.216,0.456,0.312,0.695c0.277,0.013,0.18,0.372,0.3,0.54
        c0.24,0.168,0.215,0.479,0.479,0.623c-0.084,0.468,0.299,0.803,0.085,1.282c0.31,0.312,0.227,0.755,0.238,1.151
        c0,0.528,0.707,0.588,0.72,1.054c0.335,0.359,0.287,0.743,0.239,1.199c0.143,0.239-0.06,0.731,0.288,0.886
        c0.144,0.145-0.145,0.313,0.084,0.42c0.023,0.216,0.096,0.384,0.287,0.503c0.313,0.48,0.636,0.876,1.091,1.259
        c0.588,0.348,0.372,1.115,0.455,1.654c-0.227,0.779,0.697,1.127,0.768,1.798c0.072,0.167,0.263,0.214,0.276,0.396
        c0.371,0.179,0.227,0.73,0.694,0.79c0,0.144,0.133,0.3,0,0.433c-0.035,0.178,0.181,0.323,0.312,0.479
        c-0.023,0.336,0.36,0.504,0.503,0.792c0.06,0.131-0.095,0.358,0.121,0.456c0.012,0.586,0.791,0.789,0.839,1.365
        c-0.084,0.227,0.096,0.432,0.216,0.623c0.025,0.217,0.3,0.348,0.264,0.6c0.048,0.217,0.275,0.348,0.456,0.432
        c0.168,0.504,0.731,0.467,0.995,0.852c0.214,0.119,0.43-0.026,0.61-0.133c0.408,0,0.623-0.455,0.995-0.562
        c0.504-0.362,1.139-0.42,1.679-0.72c0.563-0.491,0.707-1.307,0.971-1.858c-0.013-0.323-0.132-0.61-0.288-0.911
        c0.048-0.239-0.084-0.515-0.012-0.754c0.155-0.444,0.743-0.192,1.066-0.204c0.097,0.047,0.203,0.18,0.288,0.119
        c0.227,0.061,0.036,0.324,0.072,0.504c0.072,0.24,0.18,0.468,0.395,0.636c0.18,0.083,0.527,0.072,0.66,0.013
        c-0.264,0.311-0.769,0.574-0.684,1.041c0.012,0.181,0.144,0.335,0.3,0.396c0.407,0.144,0.682-0.18,0.982-0.408
        c0.288,0.408,0.923,0.66,0.756,1.235c-0.479,0.575-0.659,1.473-0.444,2.192c0.277,0.708,0.984,1.534,1.763,1.786
        c1.223,0.24,2.577-0.083,3.5-1.126l-4.818-4.867l4.159-4.159l4.891,4.819c0.622-0.527,0.934-1.224,1.15-1.918
        C38.749,30.96,38.798,30.482,38.713,30.014z M31.94,21.469c-0.024-0.217,0.025-0.432,0.12-0.6c0.24-0.216,0.528-0.193,0.829-0.179
        c0.167,0.265,0.503,0.313,0.563,0.636l0.228,0.611c-0.432,0.335-0.108,0.969-0.635,1.233c-0.456,0-0.648,0.745-1.14,0.516
        c-0.156-0.203-0.455-0.287-0.348-0.587l-0.096-0.048C31.39,22.451,31.736,21.984,31.94,21.469z M12.366,12.035
        c0.12,0.048-0.036,0.275,0.049,0.407c-0.108,0.179-0.323,0.347-0.527,0.479c-0.277-0.084-0.54-0.227-0.804-0.372
        c-0.048-0.215-0.204-0.419-0.204-0.611c0.408-0.192,0.491-0.731,1.007-0.694l0.347,0.035c-0.047,0.264,0.3,0.276,0.168,0.528
        C12.416,11.89,12.499,11.974,12.366,12.035z M30.346,35.863c0.227,0.132,0.527,0.335,0.623,0.6
        c0.025,0.19,0.097,0.407-0.024,0.575c-0.155,0.203-0.443,0.227-0.658,0.131c-0.336-0.119-0.612-0.466-0.672-0.814
        C29.543,35.972,30.012,35.697,30.346,35.863z M30.263,26.646c-0.265,0.263-0.648,0.359-0.636,0.779l-0.228,0.18
        c-0.084-0.156-0.061-0.347-0.265-0.408c-0.095-0.287-0.179-0.635-0.467-0.803c-0.119-0.191-0.179-0.491-0.107-0.659
        c0.168-0.072,0.455-0.335,0.54-0.035c0.407-0.24,0.743,0.238,1.175,0.168C30.395,26.107,30.408,26.407,30.263,26.646z
         M29.362,20.328c0.241,0.048,0.348,0.372,0.432,0.599c0.157,0.133,0.168,0.385,0.264,0.553c-0.012,0.107-0.084,0.203-0.061,0.347
        c0.264,0.145,0.024,0.433,0.108,0.636c-0.191,0.215-0.287,0.599-0.611,0.635c-0.12,0.288-0.491,0.467-0.695,0.694
        c-0.228,0.013-0.407,0.29-0.671,0.145c-0.155-0.155-0.216-0.287-0.252-0.491c0.048-0.528,0.612-0.684,0.684-1.186
        c0.18-0.109,0.287-0.288,0.3-0.492c-0.324-0.229,0.348-0.612-0.168-0.72c-0.072-0.335-0.575-0.263-0.527-0.671
        c0.191-0.191,0.323-0.611,0.706-0.492C29.004,20.136,29.314,20.04,29.362,20.328z M27.505,28.205
        c0.085-0.084,0.216-0.192,0.121-0.336c0.107-0.132,0.251-0.227,0.408-0.168c-0.012,0.156,0.143,0.096,0.239,0.119
        c0.12,0.121,0.276,0.301,0.252,0.469c-0.264,0.312-0.48,0.623-0.804,0.851c-0.119-0.025-0.251-0.036-0.299-0.181
        C27.434,28.708,27.627,28.469,27.505,28.205z M27.073,17.225l0.013,0.035c0.203-0.42,0.767-0.239,1.163-0.3
        c0.239,0.24,0.682-0.155,0.778,0.325c0.036,0.226,0.264,0.431,0.024,0.622c-0.191,0.048-0.24,0.288-0.419,0.349
        c-0.576-0.072-1.175,0.814-1.619,0.084C26.942,17.981,26.858,17.561,27.073,17.225z M25.984,26.73
        c-0.011-0.227,0.228-0.371,0.312-0.527c0.431,0.024,0.479-0.624,0.898-0.492l0.432-0.144c0.083,0.228,0.203,0.37,0.107,0.635
        c-0.095,0.334-0.539,0.539-0.444,0.922c-0.275,0.324-0.694,0.192-1.03,0.168C26.259,26.958,25.635,27.078,25.984,26.73z
         M22.041,14.921c0.815,0.025,1.438,0.53,2.157,0.72c0.228-0.132,0.336,0.289,0.515,0.036c0.204,0.131-0.011,0.324,0.169,0.479
        c0.06,0.132-0.108,0.3-0.204,0.42c-0.599,0.216-1.452,0.612-2.014,0.096c-0.419-0.035-0.575-0.623-0.994-0.73
        c-0.06-0.18-0.18-0.372-0.156-0.564L22.041,14.921z M21.116,23.613c-0.107,0.371,0.384,0.552,0.289,0.91
        c0.347,0.205,0.311,0.576,0.587,0.804c0.036,0.252-0.132,0.468-0.336,0.575c-0.204,0.035-0.408,0.168-0.623,0.097
        c-0.192-0.24-0.551-0.072-0.731-0.443c-0.095-0.312-0.491-0.516-0.551-0.863c0.167-0.409-0.217-0.865,0.179-1.188l0.527-0.431
        C20.674,23.241,21.224,23.145,21.116,23.613z M16.754,13.09c0.143,0.071,0.371,0.036,0.503-0.026
        c0.168-0.096,0.349,0.107,0.516-0.06c0.107,0.132,0.324,0.132,0.443,0.252l0.013,0.06c0.24-0.12,0.263,0.12,0.347,0.301
        c0.18,0.131-0.096,0.215-0.061,0.347l-0.418,0.203l-0.013-0.083c-0.132-0.012-0.24,0.192-0.371,0.061
        c-0.024-0.265-0.263,0-0.36-0.145c-0.107,0.132-0.239,0.024-0.371,0.035c-0.144-0.239-0.492-0.394-0.42-0.706
        C16.767,13.317,16.551,13.101,16.754,13.09z M15.207,15.044c0.24-0.264,0.587-0.012,0.814-0.336
        c0.288-0.025,0.359,0.311,0.671,0.239c0.12,0.072,0.265,0.168,0.288,0.288c-0.12,0.239,0.156,0.372,0.084,0.588
        c-0.24,0.409-0.767,0.576-0.899,1.018c-0.096,0.024-0.203,0.109-0.287,0.024c-0.323-0.107-0.336-0.455-0.527-0.671
        c0.192-0.335-0.323-0.539-0.119-0.887L15.16,15.33C15.101,15.247,15.171,15.127,15.207,15.044z M15.038,19.959
        c-0.263-0.073-0.514-0.18-0.778-0.18c-0.192-0.264-0.563-0.181-0.707-0.493c-0.18-0.011-0.193-0.192-0.216-0.312
        c0.06-0.226,0.156-0.466-0.072-0.646c-0.324-0.587,0.432-0.84,0.826-0.586c0.265,0.191,0.433,0.503,0.468,0.778
        c0.301,0.42,0.876,0.204,1.163,0.611c-0.048,0.168-0.132,0.348-0.18,0.516L15.038,19.959z M16.96,26.551
        c-0.156,0.083-0.301,0.229-0.505,0.145c-0.276-0.181-0.455-0.432-0.634-0.685l-0.133-0.083c0.179-0.181,0.059-0.397,0.072-0.6
        c0.239-0.096,0.311-0.503,0.599-0.43c0.169-0.144,0.264,0.048,0.432,0.024c0.145,0.263,0.397,0.587,0.181,0.898
        C17.546,25.988,16.814,26.239,16.96,26.551z M18.588,22.977c-0.337,0.24-0.683,0.084-0.995-0.107
        c-0.276-0.131-0.684,0.011-0.791-0.36c-0.084-0.324,0.012-0.586,0.096-0.887h0.168c-0.061-0.179-0.061-0.42,0-0.622
        c0.228-0.252,0.479,0.072,0.719-0.122c0.168,0.216,0.527,0.287,0.491,0.636c0.276,0.107,0.36,0.479,0.647,0.624
        C18.791,22.462,19.103,22.87,18.588,22.977z M18.767,17.955c-0.145,0-0.288,0-0.348-0.132c0.18-0.251-0.191-0.311-0.108-0.563
        c-0.468-0.155,0.217-0.407-0.083-0.634c0.011-0.3,0.347-0.444,0.575-0.528c0.192,0.168,0.444,0.036,0.635-0.061
        c0.216,0.288,0.479,0.384,0.791,0.48c0.227,0.036,0.144,0.384,0.407,0.312c0.204,0.107,0.048,0.384,0.013,0.538
        c-0.084,0.229-0.036,0.565-0.348,0.684c-0.24,0.049-0.455-0.119-0.659,0.036C19.356,17.943,19.02,18.111,18.767,17.955z
         M21.478,33.155c-0.288-0.12-0.576,0.144-0.887,0.048c-0.3-0.347-0.672-0.576-0.575-1.079c-0.228-0.131-0.085-0.492-0.421-0.516
        c0.097-0.167-0.083-0.394-0.167-0.575c-0.216-0.12,0.011-0.324-0.144-0.479c0.047-0.264,0.047-0.527,0.288-0.695
        c0.167-0.144,0.395-0.156,0.612-0.06c0.324,0.348,0.383,0.768,0.395,1.211c0.348,0.035,0.06,0.586,0.468,0.419
        c0,0.215,0.179,0.204,0.323,0.276c0.252,0.156,0.54,0.324,0.504,0.646C21.658,32.592,21.789,32.987,21.478,33.155z M23.059,29.08
        c-0.107,0.275,0.096,0.646-0.239,0.814c-0.3-0.132-0.851,0.035-0.827-0.467c0.095-0.241-0.3-0.444-0.061-0.684
        c-0.12-0.215,0.24-0.215,0.192-0.406c0.227-0.037,0.527-0.313,0.684,0.011c0.108-0.035,0.18,0.11,0.228,0.182
        c-0.025,0.071-0.074,0.191-0.013,0.275C23.155,28.889,23.155,28.984,23.059,29.08z M24.293,21.398
        c0-0.146-0.155-0.204-0.252-0.301c0.049-0.263-0.012-0.586-0.299-0.755c-0.275-0.035-0.179-0.443-0.491-0.371
        c-0.097-0.288,0.142-0.552-0.097-0.767c-0.012-0.277,0.3-0.252,0.335-0.504c0.049-0.049,0.085-0.109,0.169-0.095
        c0.036-0.084,0.228-0.132,0.348-0.228c0.24,0.024,0.132,0.372,0.396,0.348c0.18,0.084,0.096,0.216,0.036,0.323
        c0.084,0.204,0.311,0.385,0.239,0.624c0.395,0.132,0.035,0.515,0.371,0.659c0.072,0.023,0,0.096,0,0.168
        c0.132,0.275,0.169,0.503-0.107,0.73c0.059,0.157,0.024,0.336-0.18,0.396C24.582,21.517,24.246,21.78,24.293,21.398z
         M24.629,25.424c-0.047-0.145,0.048-0.192,0.06-0.348c0.168-0.096,0.3-0.251,0.491-0.227c0.228,0.132,0.383,0.191,0.48,0.456
        c-0.108,0.204-0.372,0.539-0.612,0.539C24.856,25.772,24.736,25.604,24.629,25.424z M25.098,28.048
        c-0.097-0.096-0.156-0.252-0.084-0.371c0.191-0.287,0.527-0.072,0.767-0.12c0.095,0.167,0.419,0.372,0.24,0.6
        c0.168,0.358-0.252,0.54-0.24,0.863c-0.216,0.144-0.396-0.061-0.6-0.12C25.049,28.624,24.893,28.324,25.098,28.048z M26.08,30.709
        c-0.228-0.323-0.275-0.78-0.503-1.127c0.06-0.228,0.264-0.432,0.503-0.503l0.875,0.13c0.119,0.097,0.312,0.121,0.348,0.301
        c-0.192,0.167-0.013,0.563-0.3,0.684C26.69,30.337,26.476,30.89,26.08,30.709z M31.497,27.687l-3.896,3.872
        c-0.227,0.109-0.443-0.107-0.528-0.288c-0.012-0.129,0.073-0.239,0.121-0.358l3.739-3.741c0.121-0.048,0.3-0.107,0.433-0.025
        C31.51,27.291,31.629,27.508,31.497,27.687z M37.179,30.806c-0.131,0.227-0.394,0.299-0.647,0.215
        c-0.287-0.121-0.552-0.383-0.671-0.671c-0.084-0.156-0.061-0.372,0.036-0.515c0.12-0.144,0.288-0.168,0.455-0.193
        c0.299,0.084,0.611,0.278,0.766,0.553C37.202,30.373,37.262,30.624,37.179,30.806z"/>
      </svg>
      <h1 class=header-title>Order of the Arrow</h1>
      <h4 class=header-subtitle>Web site redesign and development</h4>
      <a class=down-arrow href=#one>
        <svg version=1.1 x=0 y=0 width=50px height=50px viewBox="0 0 50 50" enable-background="new 0 0 50 50">
          <path d="M25,50c13.807,0,25-11.193,25-25S38.807,0,25,0C11.193,0,0,11.193,0,25C0,38.807,11.193,50,25,50z
             M10.18,16.883c0.39-0.391,0.902-0.586,1.414-0.586s1.024,0.195,1.414,0.586L25,28.874l11.992-11.991
             c0.78-0.781,2.048-0.781,2.828,0c0.781,0.781,0.781,2.047,0,2.828L25,34.531l-14.82-14.82C9.399,
             18.93,9.399,17.664,10.18,16.883z"/>
        </svg>
      </a>
    </div>
    <div class=portfolio-item--cover>
      <span style="background-image:url(/assets/img/portfolio/oabsa/cover.jpg);"></span>
    </div>
  </header>

  <section class=portfolio-item--content>
    <section id=one data-color=dark>
      <div class=wrapper>
        <h2 class=rst>The Order of the Arrow National Site</h2>
        <p>I have been a member of Scouting since 2007 when I joined the Cub Scouts. In 2009, I became a member of the Order of the Arrow (also known as, "OA" for short), Scouting's National Honor Society. One of the most facinating things about the OA is that it operated entirely from the local chapter leve to the nation level by youth members under the age of twenty-one. One of my friends became the coordinator for the National Communications and Technology committee and began a major restructoring of what was then an old, poorly functioning group. At that point, I became a member of the production team writing articles and designing for the Order's newspaper, the "National Bulletin".</p>
        <p>In August 2013, I was asked to become a the lead of the order's web development team. Originally built in 1994, the Order of the Arrow  was in need of a redesign. The organization's centennial aniversary was coming up in 2015 and the branding team was beginning a plan to reshape the face of the Order.</p>
        <p>None of the original code from the site was useable; much of the site was static and none of it had ever seen version control. We ended up starting completely from scratch. <p>
      </div>
    </section>
    <section>
      <div class=wrapper>
        <h3>Design</h3>
        <svg class=portfolio-icon version=1.1 x=0 y=0 width=50px height=50px viewBox="0 0 50 50" enable-background="new 0 0 50 50">
          <path d="M9.409,17.936c2.12-1.645,3.877-0.512,6.224,2.204c0.264,0.304,0.619-0.051,
          0.82-0.228c0.2-0.176,3.296-2.96,3.447-3.091
          c0.151-0.133,0.334-0.381,0.092-0.661c-0.24-0.28-1.122-1.419-1.686-2.157C14.2,8.632,29.539,4.99,27.181,4.931
          c-1.198-0.03-6.008-0.086-6.726-0.01c-2.916,0.309-6.572,3.031-8.415,4.297c-2.407,1.654-3.307,2.618-3.457,2.75
          c-0.68,0.596-0.11,1.97-1.343,3.051c-1.306,1.147-2.12,0.282-2.875,0.943c-0.377,0.332-1.424,1.116-1.725,1.38
          c-0.302,0.265-0.356,0.713-0.049,1.069c0,0,2.869,3.171,3.111,3.449c0.241,0.281,0.887,0.517,1.289,0.163
          c0.403-0.353,1.434-1.257,1.609-1.413C8.777,20.459,8.485,18.653,9.409,17.936z M22.372,19.109
          c-0.271-0.314-0.608-0.321-0.903-0.063l-3.257,2.841c-0.256,0.225-0.29,0.644-0.061,0.908l18.835,21.432
          c0.44,0.508,1.204,0.562,1.707,0.12l2.204-1.845c0.502-0.442,0.555-1.212,0.116-1.72L22.372,19.109z"/>
         <g>
          <path d="M46.944,9.488c-0.169-1.122-0.751-0.884-1.051-0.409
            c-0.3,0.476-1.637,2.5-2.187,3.417c-0.546,0.912-1.888,2.705-4.391,0.934c-2.607-1.844-1.7-3.13-1.245-3.996
            c0.455-0.869,1.857-3.305,2.059-3.61C40.331,5.518,40.095,4.626,39.286,5c-0.81,0.374-5.729,2.329-6.412,5.13
            c-0.696,2.855,0.584,5.403-1.93,7.936l-3.048,3.18l3.062,3.56l3.758-3.566c0.896-0.901,2.806-1.774,4.537-1.382
            c3.708,0.84,5.731-0.554,6.949-2.855C47.292,14.943,47.112,10.61,46.944,9.488z"/>
          <path d="M7.969,40.513c-0.472,0.476-0.472,1.248,0,1.724l2.16,2.11
            c0.473,0.475,1.222,0.276,1.695-0.2l11.145-10.957l-3.416-3.886L7.969,40.513z"/>
         </g>
        </svg>
        <small><h5>Improved user experience and brand consistency</h5></small>
        {{#markdown}}
It is important for all users, not only just those actively involved in the Order of the Arrow to experience a high level of statisfaction when visiting the site. It is crucial that user interaction is encouraged and visitors explore the site. Moreoever, as the Order embarks on a campaign to further solidify its brand, it is important that the website, the most easily accessed face of the organization, take the lead in this endeavor.

> League Gothic is a revival of an old classic typeface, Alternate Gothic #1... orginally designed by Morris Full Benton for the American Type Founders Company in 1903.
> <cite>The League of Moveable Type: <a href=http://theleagueofmoveabletype.com/league-gothic>League Gothic</a></cite>

For all headings we use *[League Gothic][league-gothic]* Regular, a typeface designed by the *[League of Moveable Type][league-gothic-creators]* in 2009 for both web and print usage. The source of this typeface is available on [Github][league-gothic-source].

*[Trebuchet MS][trebuche-ms]*, a humanist sans-serif designed by Vincent Connare and commissioned by Microsoft in 1996, is used for all body text, forms, buttons, and other general elements. Microsoft refers to Trebuchet MS as "one of their core typefaces for the web", the medium for which it is best used.

*[Crete Rounded][crete-rounded]*, a variation of the typeface *Crete* designed in 2007 to improve performance on low-resolution devices, is used as a tertiary typeface for subheadings.

As the brand calls for, the primary color of the site is red (`rgb()`).

[league-gothic]: http://theleagueofmoveabletype.com/league-gothic
[league-gothic-creators]: http://theleagueofmoveabletype.com
[league-gothic-source]: http://github.com/theleagueof/league-gothic
[trebuche-ms]: http://wikipedia.org/wiki/Trebuchet_MS
[crete-rounded]: http://typekit.com/fonts/crete-rounded-web
        {{/markdown}}
      </div>
    </section>
   <section >
      <div class=wrapper>
        <h3>Development</h3>
        <svg class=portfolio-icon version=1.1 x=0 y=0 width=50px height=50px viewBox="0 0 50 50" enable-background="new 0 0 50 50">
          <path d="M32.508,11c0.296,0,0.592,0.13,0.87,0.391L48.505,25L33.362,38.623C33.1,38.87,32.805,39,32.508,39
          s-0.591-0.13-0.853-0.376c-0.29-0.273-0.35-0.581-0.35-0.792c0-0.327,0.142-0.64,0.387-0.871l12.336-11.22L44.842,25l-0.813-0.74
          L31.705,13.051c-0.258-0.242-0.4-0.556-0.4-0.882c0-0.211,0.061-0.52,0.35-0.792C31.917,11.13,32.212,11,32.508,11 M17.492,11
          c0.297,0,0.591,0.13,0.853,0.376c0.242,0.228,0.375,0.526,0.375,0.839c0,0.313-0.133,0.61-0.361,0.824L5.973,24.259L5.155,25
          l0.818,0.741l12.372,11.208c0.241,0.227,0.374,0.524,0.374,0.837c0,0.313-0.133,0.611-0.375,0.838
          C18.083,38.87,17.788,39,17.492,39c-0.297,0-0.592-0.13-0.87-0.392L1.495,25l15.143-13.624C16.9,11.13,17.195,11,17.492,11
           M32.508,10c-0.54,0-1.079,0.216-1.539,0.648c-0.919,0.866-0.869,2.268,0.05,3.132L43.355,25L31.02,36.221
          c-0.919,0.864-0.969,2.266-0.05,3.131C31.429,39.784,31.969,40,32.508,40s1.079-0.216,1.539-0.648L50,25L34.047,10.648
          C33.587,10.216,33.048,10,32.508,10L32.508,10z M17.492,10c-0.54,0-1.079,0.216-1.539,0.648L0,25l15.953,14.352
          C16.413,39.784,16.952,40,17.492,40c0.54,0,1.079-0.216,1.538-0.648c0.919-0.865,0.919-2.267,0-3.131L6.645,25L19.03,13.78
          c0.919-0.864,0.919-2.266,0-3.132C18.571,10.216,18.032,10,17.492,10L17.492,10z"/>
        </svg>
        <small><h5>Expression Engine + Grunt.js + Bower</h5></small>
        {{#markdown}}
The Order's website is built ontop a licensed build of the [ExpressionEngine content management system][ExpressionEngine]. The site uses around six different HTML tempates written in a mixture of PHP and the EE templating language. [Vagrant][vagrant] powers a local development environment that can be used to test files before pushing them to the production server. Deployment is handled through FTP and the ExpressionEngine cPanel.

Templates are stored via Git version control in a private [Github][Github] repository along with the stylesheets, scripts, and any other source files. Generally binary files (except those required for testing), are not stored in Git. We use [Grunt][Grunt] to build and test all final production files and [Bower][Bower] for package management. Since we use a number of packages that were realeased before Bower, Jon and I had to fork those package's repositories, add the required `bower.json` file, and make a pull-request. When our work was done, we had added four commonly used packages to the Bower registry.

We use jQuery and a number of various plugins on the site: [unslider][unslider], for the homepage slider; [jquery-instagram][jquery-instagram], for the Instagram feeds; and, []() for the... . With the exception of a twelve column responsive grid from [Zurb Foundation][Zurb Foundation], all CSS is hand written in [LESS][LESS], a CSS preprocessor that adds variables, functions and mixins to your stylesheets.

The website fully supports all current versions of Chrome, Firefox, Safari and Opera. In order to support CSS3 and HTML5 in Internet Exploerer 8, we use several libraries, pollyfills, and shims: [modernizr][modernizr], [html5shiv][html5shiv], and others. The aim is to not make the website look the same in IE8, but rather just to provide basic functionality.

[ExpressionEngine]: http://
[Vagrant]: http://
[Github]: http://github.com/oa-bsa
[Bower]: http://bower.io
[Grunt]: http://gruntjs.com
[unslider]: http://github.com/idiot/unslider
[jquery-instagram]: http://github.com//jquery-instagram
[Zurb Foundation]: http://foundation.zurb.com
[LESS]: http://lesscss.org
[modernizr]: http://
[html5shiv]: http://

        {{/markdown}}
      </div>
    </section>
     <section data=design>
        <div class=wrapper>
          <h4>Development Team</h4>
          <small><h5>August - December 2013</h5></small>
          <ul class="dev-team--list rst">
           <li class=dev-team--member>
              <div>
                <img src=assets/img/site/patrick.jpg><br>
                <a href=http://twitter.com/pburtchaell>Patrick Burtchaell</a>
              </div>
            <li class=dev-team--member>
              <div>
                <img src=assets/img/portfolio/oabsa/drate.jpg><br>
                <a href=>Drate Berry</a>
              </div>
            <li class=dev-team--member>
              <div>
                <img src=assets/img/portfolio/oabsa/eric.jpg><br>
                 <a href=>Eric Silva</a>
              </div>
            <li class=dev-team--member>
              <div>
                <img src=assets/img/portfolio/oabsa/jon.png><br>
                <a href=http://twitter.com/grounded042>Jon Carl</a>
              </div>
            <li class=dev-team--member>
              <div>
              <img src=assets/img/portfolio/oabsa/daniel.jpg><br>
               <a href=>Daniel Wivagg</a>
              </div>
            <li class=dev-team--member>
              <div>
              <img src={{assets}}/img/portfolio/oabsa/peter.jpg><br>
               <a href=>Peter Bird</a>
              </div>
          </ul>
        </div>
      </section>
     <section>
      <div class=wrapper>
        <h3>Project Post-Mortem</h3>
        <svg class=portfolio-icon version=1.1 x=0 y=0 width=50px height=50px viewBox="0 0 50 50" enable-background="new 0 0 50 50">
          <g><path d="M39.75,3.875c2.16,0,3.917,1.757,3.917,3.917v34.417c0,2.16-1.757,3.917-3.917,3.917h-29.5
          c-2.16,0-3.917-1.757-3.917-3.917V7.792c0-2.16,1.757-3.917,3.917-3.917H39.75 M9.25,43.208h1h29.5h1v-1V7.792v-1h-1h-29.5h-1v1
          v34.417V43.208 M39.75,2.875h-29.5c-2.704,0-4.917,2.212-4.917,4.917v34.417c0,2.704,2.212,4.917,4.917,4.917h29.5
          c2.704,0,4.917-2.213,4.917-4.917V7.792C44.667,5.087,42.454,2.875,39.75,2.875L39.75,2.875z M10.25,42.208V7.792h29.5v34.417
          H10.25L10.25,42.208z"/></g>
        <g>
          <g>
            <rect x="15.667" y="30.479" width="11.292" height="1.458"/>
            <path d="M26.458,30.979v0.458H16.167v-0.458H26.458 M27.458,29.979H15.167v2.458h12.292V29.979L27.458,29.979z"/>
          </g>
          <g>
            <rect x="25.5" y="20.646" width="8.833" height="1.458"/>
            <path d="M33.833,21.146v0.458H26v-0.458H33.833 M34.833,20.146H25v2.458h9.833V20.146L34.833,20.146z"/>
          </g>
          <g>
            <rect x="25.5" y="13.271" width="8.833" height="3.916"/>
            <path d="M33.833,13.771v2.917H26v-2.917H33.833 M34.833,12.771H25v4.917h9.833V12.771L34.833,12.771z"/>
          </g>
          <g>
            <rect x="15.667" y="13.271" width="6.375" height="8.833"/>
            <path d="M21.542,13.771v7.833h-5.375v-7.833H21.542 M22.542,12.771h-7.375v9.833h7.375V12.771L22.542,12.771z"/>
          </g>
          <g>
          <rect x="15.667" y="25.562" width="3.917" height="1.459"/>
          <path d="M19.083,26.063v0.458h-2.917v-0.458H19.083 M20.083,25.063h-4.917v2.458h4.917V25.063L20.083,25.063z"/>
          </g>
          <g>
            <rect x="23.042" y="25.562" width="11.292" height="1.459"/>
            <path d="M33.833,26.063v0.458H23.542v-0.458H33.833 M34.833,25.063H22.542v2.458h12.292V25.063L34.833,25.063z"/>
          </g>
          <g>
            <rect x="15.667" y="35.396" width="18.667" height="1.458"/>
            <path d="M33.833,35.896v0.458H16.167v-0.458H33.833 M34.833,34.896H15.167v2.458h19.667V34.896L34.833,34.896z"/>
          </g>
          <g>
            <rect x="30.417" y="30.479" width="3.917" height="1.458"/>
            <path d="M33.833,30.979v0.458h-2.917v-0.458H33.833 M34.833,29.979h-4.917v2.458h4.917V29.979L34.833,29.979z"/>
          </g>
        </svg>
        <small><h5>March 2014 by Patrick Burtchaell</h5></small>
        {{#markdown}}
The redesigned site successfully launched on December 24 and by Christmas the DNS had propagated. It was a pretty awesome Christmas present for the organization. After a presentation of the website at the National Planning Meeting in Dallas, I recived plenty of compliments from everyone. My team and I have spent the last month taking a break from the site.

As of February 2014, the codebase of the website contains a lot of extra bulk that is completely unnecessary. In December, things were taking longer than we expected to work out all the bugs and add in all the last minute feature requests, so things got a bit messy. By June 2014, I hope to have finished a code review and implemented all solutions.

#### Expression Engine
As none of us had used it before, ExpressionEngine was definitely a new territory for myself and my team. We had to learn a new templating language and because of licenses, we had no way to properly test anything locally. This was a huge setback. Had a depolyment system been in place and development server, we would have been much more productive and finished more features. No matter how many times I stressed this to my leadership coordinators who have access to the server, this was ignored and pushed to the backlog. "We will address it in 2014", I was told.

For a period of time in the beginning of development, this was okay. Our templates were mostly PHP so we could test them using a local -AMP stack. However, as we began to add functions from the EE templating language, it was extremely to *copy and paste* the templates to the EE cPanel each time a change was made, save the template, and refresh the page. I think I easily spend 10 percent of my time on this process.

In order to solve the problem of not having a development server, Eric finished up a Vagrant build to emulate a basic copy of EE locally on each developer's machine. This would have solved our issues, had we received the database from our leadership team. Since neither myself nor any one else on my team have access to the production server, there was no way for me to access a copy of the database. I requested the database multiple times from the team leadership, but to my dissapointment, my reqeest was also put on the "we will get to it in 2014" backlog. At the time of writing, I still do not have a copy of the database. Clearly, leadership has become numb to the painful process my team uses to deploy. If you can call copy-and-pasting into a cPanel deplyment.

I must say I very must so dislike EE templates. It is a very awkward configuration. While EE is certianly very powerful and has much potential, it is not necessarily great out of the box. Unlike many modern content management systems, it requires much more configuration and add-ons to achieve your goals. However, for this project, I quickly realized that the coordinators did not understand this. Only two of the add-ons were installed.

Overall, I do not think the three-hundred dollars that ExpressionEngine costs is worthwhile at all. There are many better open-source options out there if you want a CMS more powerful than your typical Wordpress install. [Drupal]() works great and the technologies that power [Ghost]() make it a very sustainable alternative. Besides being more configurable, these alternaives will be more familiar to a developer. EE requires an "ExpressionEgine Developer" to fully use it to its potential. This means that you not only have to spend $300, but also have to do extra training to get used to it.

#### Git Version Control &amp; Github

<div class=github>
  <div class="commits"><strong>Number of Commits</strong>: 306</div>
  <div class="commits stats">
    <div class=additions><strong>++</strong>120,320</div>
    <div class=deletions><strong>--</strong>80,100</div>
  </div>
  <div class="commits last"><strong>Last Commit before Launch</strong>: "Make Blah"</div>
</div>

Moving the codebase to private Github repositories worked very well. Not only was it a great way to control the source, but project mangement was perfectly solved with the issues tracker and milestones. At the moment we currently also use Trello in tandem with Github. We also plan to convert our [oa-bsa user account](http://github.com/oa-bsa) to an organization. It was slightly ineffective to not have administration access and to be using an account rather than an organization, which would have alloweed for better management. For this reason, we are currently in the process of switching the acount from a user to an organizations.

#### Project Management
The greatest difficulty in building the Order's website is the politics that come along with decisions. Whenever I need to do something envolving the server, I need to email my coordinator who then emails his adviser. Anything envolving money needs to get approved by somone two steps up the leadership chain.

When it comes to code, my team can do whatever they want. I have adapted a "as long as it achieves the end result I desire, you can use whatever means you want to get there" method of tasking for my team. It works very well. I task out an assignment, tell the developer what he has to do, and then let them go. A few days later I'll get a notification that the issue has been solved.

This difficulty prevented my team from making the website as good as it could be. For example, in the beginning of development I asked if we could install an add-on that required the content team to write content in [Markdown]() rather than the horrific WYSIWYG editor built into EE. The EE editor styles its content by using inlinestyles that overrides the site's stylesheet. This caused for inconsistent styles all across the board &mdash;also known as an ugly site. I brought this to my coordinators' attention expecting an understanding response. To my surprise this request was ignored with another paraphrased "we'll get to it later" email. For this reason, many of the pages on the site look horrible thanks to the EE editor.

#### Documentation
I think the initial documentation for the site came much to late in the year. For this reason, the team was off to a slow start. However, the team has done a very good job of documenting the processess we use for development. From installation to configuration, our usage of Vagrant, Grunt, and Bower is very well documented. In the future, I plan to document both a formal code styleguide and site stylegude.
        {{/markdown}}
      </div>
    </section>
  </section>

  <section class=portfolio-item--footer>

  </section>

</main>
{{> footer-inc }}
{{> close-inc }}
