:root {
  /* Base REM size */
  --size: 26px;

  /* Typography */
  --font-family-primary: 'web-din-pro';
  --font-family-secondary: 'web-din-pro';
  --font-stack: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --font-size-base: .65rem;
  --font-size-small: .5rem;
  --font-size-large: 1.5rem;
  --line-height-base: 1rem;
  --line-height-small: 1rem;
  --line-height-large: 2rem;
  --letter-spacing-loose: .125ex;

  /* Colors */
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(10, 10, 11);
  --color-grey: rgb(200, 200, 210);
  --color-grey-light: rgb(220, 220, 230);
  --color-grey-dark: rgb(100, 100, 110);

  /* Responsive break points */
  --screen-large: 864px;
  --screen-medium: 576px;
  --screen-small: 436px;
}
