.row__container {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.row__container--default {
  max-width: 960px;
}

.row__container--large {
  max-width: 1400px;
}

.row__container--full-width {
  max-width: 100%;
}

.row {
  position: relative;
  display: flex;
  flex: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}
