.row {
  position: relative;
  display: flex;
  flex: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: auto;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
