<footer class=page-footer>
  <small>
    <span class=page-footer-span>
      Made with&nbsp;<object class=page-footer-heart>
      <svg x=0 y=0 width=10px height=10px viewBox="0 0 10 8">
        <path d=M9,0.7c-1-0.9-2.5-0.9-3.5,0L5,1L4,0.6c-0.97-0.9-2.5-0.8-3.5,0c-1,1-1,2.63,0,3.6L5,8l4.17-3.8C10,3.30,10,1.67,9.17,.6z></path>
      </svg></object>&nbsp;in New Orleans<br>
    </span>
    <div class=page-footer-legal>
      &copy;<script>document.write(new Date().getFullYear());</script>
      &nbsp;&mdash;{{site.copyright}}&mdash;
      <a href=/colophon rel=source title="Colophon" class="line no-color">Colophon</a>
    </div>
  </small>
</footer>
