/*------------------------------------*\
    $FORMS
\*------------------------------------*/
textarea { 
	/*Reset Browser Defaults*/
	min-height: 150px; 
	max-height: 150px; 
}

textarea, input {

	/*Reset Browser Defaults*/
    box-shadow: none; 
	border-radius: 0; 
	
	/*Everything else*/
	width: 100%;
    margin-top: 10px;
    padding: 8px 0 10px 10px;
	clear: left;

    border: 2px solid @dark-grey; 
    background: @white;
	
    font-family: 'dinpro';
	font-size: 14px;
    text-indent: 2px;
	color: @dark-grey;
	
}

textarea:focus, 
input:focus {

	/*Reset Browser Defaults*/
	box-shadow: none;
	outline: 0;
	
	/*Everything else*/
    border: 2px solid @dark-grey;
    
}

textarea:invalid, 
input:invalid {

	border-color: rgb(232,40,44);
	color: rgb(232,40,44);
    box-shadow: none; 
	
}

textarea:invalid::focus, 
input:invalid::focus {
	box-shadow: none; 
}

input:disabled, textarea:disabled {
	background-color: #eaeded;
	border-color: transparent;
	color: #cad2d3;
	cursor: default; 
}