/*------------------------------------*\
    $FORMS
\*------------------------------------*/

// add some padding to the form element
form {
    padding: 0 12.5px 0 12.5px;
}

// labels
label {
	position: relative !important;
	display: inline-block !important;
	float: left;
	max-width: 100%;
	height: 40px;
	margin: 0 12.5px 0 0 !important;
	padding: 0;
}

// use em as a label for checkboxes and radio buttons
form em {
	position: relative;
	line-height: 16px;
	top: -2px;
}

// style input and textarea, excluding radio buttons and check boxes
input,
textarea {
	
	box-sizing: border-box;
    outline: none;  
	
	// set width and height using max/min
	max-width	: 	100% 	!important;
	min-width	: 	0 		!important;
	width		: 	100% 	!important;
	height		: 	40px 	!important;
	
	margin		: 	@base-margin auto @base-margin auto;
    padding		: 	@base-padding/2;
	
	// type
    font		: 	@type-font-size 'opensans-italic' !important; 
	color		: 	@place-holder-color;
	
	// appearance
	border			: 	3px solid fadeOut(@dark-grey, 70%);
    border-radius	: 	0;
    background		: 	fadeOut(@dark-grey, 90%);
    transition		: 	0.25s linear;
    
	// on :focus
    &:focus, 
	&:active { 
		border: 3px solid fadeOut(@dark-grey, 70%);
		background: fadeOut(@dark-grey, 80%);
	}   
    
}
textarea {
    padding: @base-padding/2 0 0  @base-padding/2; 
}


// overide the default placeholder styles
@place-holder-color: fadeOut(@dark-grey, 25%); 
@place-holder-line-height: 20px;
@place-holder-font-family: 'opensans-italic';

::-webkit-input-placeholder { 	color: @place-holder-color; font-family: @place-holder-font-family; line-height: @place-holder-line-height; }
:-moz-input-placeholder {		color: @place-holder-color; font-family: @place-holder-font-family; line-height: @place-holder-line-height }
::-moz-placeholder {			color: @place-holder-color; font-family: @place-holder-font-family; line-height: @place-holder-line-height; }
:-ms-input-placeholder {		color: @place-holder-color; font-family: @place-holder-font-family; line-height: @place-holder-line-height; }


// checkboxes
input[type="checkbox"] { 
	
	// first, remove the default styles for the checkbox
	display: none;  }

	// next, style the checkbox using a label element with the .check class
	.check {
	
		width: 26px;
		height: 16px;
		margin-bottom: -3px;
		margin-right: 10px;
		background: @light-grey;
		border-radius: 7px;
		cursor: pointer;
		position: relative;
		display: inline-block;
	
		&:before {
			content: "";
			width: 24px;
			height: 12px;
			background: darken(@light-grey, 10%);
			display: block;
			cursor: pointer;
			position: absolute;
			top: 2px;
			left: 1px;
			border-radius: 7px;
		}
	
		&:after {
			content: "";
			position: absolute;
			width: 12px;
			height: 12px;
			top: 2px;
			left: 1px;
			background: #e74c3c;
			border-radius: 100%;
			z-index: 1;
			transition: 300ms all;
		}
	
	}
	
	// when the checkbox element is :checked, move the label to the left - "active"
	input[type="checkbox"]:checked + 
		.check:after {
	  		left: 13px;
	  		background: #27ae60;
	}


// select element
select {
	min-width: 160px;
	min-height: 35px;
    padding: 0.5em 0.6em;
    display: inline-block;
    color: @white;
    border: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0px;
    background-color: #e03a3c;
    appearance: none;
}


// radio buttons
label.radio {
	width: 18px;
	height: 18px;
	margin-bottom: -3px;
	margin-right: 10px;
	background: #e74c3c;
	border-radius: 3px;
	cursor: pointer;
	position: relative;
	display: inline-block;
	transition: 300ms all;
}
label.radio::after {
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	left: 3px;
	top: 3px;
	background: #c0392b;
	border-radius: 3px;
	opacity: 1;
	z-index: 1;
	transition: 300ms all;
}
input[type="radio"]:checked + label {
  	background: #27ae60;
	border-radius: 100%;
}
input[type="radio"]:checked + label::after {
	opacity: 1;
	background: #2ecc71;
	border-radius: 100%;
}
.style4 label {
  width: 18px;
  height: 18px;
  margin-bottom: -3px;
  margin-right: 10px;
  background: #e74c3c;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
  transition: 300ms all;
}
.style4 label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 3px;
  top: 3px;
  background: #c0392b;
  border-radius: 3px;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
  transition: 300ms all;
}
.style4 input:checked + label {
  background: #27ae60;
}
.style4 input:checked + label::after {
  opacity: 1;
  background: #2ecc71;
}
.style4 input[type=radio] + label {
  border-radius: 100%;
}
.style4 input[type=radio] + label::after {
  border-radius: 100%;
}

// invalid form item
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid { }
input:focus:invalid::focus,
textarea:focus:invalid::focus,
select:focus:invalid::focus { }
input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus { outline-color: #e9322d; }

// other form elements
select[multiple] { height: auto;}
label { position: relative; display: block; margin: 25px 0 25px 0; }


// field set and legend
fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    font-size: 125%;
    color: @type-color;
    border-bottom: 1px solid lighten(@dark-grey, 50%);
}