body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { 
	margin: 0; 
	padding: 0; 
	font-size: 16px; 
	direction: ltr;
    color: @dark-grey; 
    font-weight: normal; 
    font-style: normal; 
    line-height: 1.4; 
	text-rendering: optimizeLegibility; 
	font-smoothing: subpixel-antialiased;
	text-size-adjust: 100%;
    font-family: 'dinpro', 'Helvetica', sans-serif;
	cursor: default;
}

/* default typography styles */
em, i {
	font-style: italic;
	line-height: inherit;
}

strong, b {
	font-family: 'dinpro-bold';
	font-weight: bold;
}

small {
    font-size: @small-font-size;
    line-height: inherit;
}

code {
    font-family: @code-font-family;
    font-weight: @code-font-weight;
    color: @code-color;
}

/* default paragraph styles */
p { 

	margin: 20px 0 20px;
	
	& aside {
		font-size: @paragraph-aside-font-size;
		line-height: @paragraph-aside-line-height;
		font-style: @paragraph-aside-font-style;
	}
    
}

/* default header styles */
h1, h2, h3, h4, h5, h6 {

    text-transform: uppercase;
	margin: 25px 0 25px 0; 
	font-family: 'dinpro-bold',  'dinpro', 'Helvetica', sans-serif;
	
	/* default subheader styles */
	small {
		font-size: @small-font-size;
		color: @small-font-color;
		line-height: 0;
	}
	
}
	
h1 { font-size: @primary-h1-size; }			
h2 { font-size: @primary-h2-size; } 
h3 { font-size: @primary-h3-size; } 
h4 { font-size: @primary-h4-size; }
h5 { font-size: @primary-h5-size; }
h6 { font-size: @primary-h6-size; }

hr {
	height: 1px;
	background-color: rgb(10, 11, 11);
    margin: 25px;
    width: 50%;
    border: 1px solid rgb(10, 11, 11);
}
hr.white {
    background-color: rgb(248, 248, 242);
    border: 1px solid rgb(248, 248, 242);
}
hr.small {
	position: relative;
	width: 100px;
	top: 25px;
	margin: 0 auto;
} 

// other
em, i {
	font-style: italic;
	line-height: inherit;
}
strong, b {
	font-weight: bold;
	line-height: inherit;
}
small {
  font-size: @small-font-size;
  line-height: inherit;
}
code {
  font-family: @code-font-family;
  font-weight: @code-font-weight;
  color: @code-color;
}

/* default link styles */
a img { 

    border: none;
	transition: 0.25s; 
	
		&:hover {
			opacity: 0.85; 
		}

}	 

a, a:visited { 

	color: @type-color;
	opacity: 1.0;
	line-height: inherit;
	padding-bottom: 0;
	text-decoration: none; 
	border: none;
	 transition: 0.25s;
	
		&:hover, &:focus { 
			opacity: 0.5;
			transition: 0.25s; 
		}
		
	&.line, &.line:visited {
		border-bottom: 1px solid @type-color;
	}
	
	&.opacity-off:hover { opacity: 1.0; }
	
}

/* default abbreviations styles */
abbr,
acronym {
	text-transform: uppercase;
	color: @type-color;
	border-bottom: @type-border;
	cursor: help;
}
abbr {
	text-transform: none;
}

/* default blockquotes styles */
blockquote {

	margin: 0 0 @paragraph-margin-bottom;
	padding: @blockquote-padding;
	border: @blockquote-border;
	color: @type-color;
	
	cite {
  
		display: block;
		font-size: @type-font-size;
		color: @type-color;
		
		&:before {
			content: "\2014 \0020";
		}

		a,
		a:visited {
			color: @blockquote-cite-link-color;
		}
		
	}
	
}


// lists
ul, ol {
	margin: 12.5px;
}
li {
    margin: 5px;
	margin-left: 25px;
	list-style: circle;
	line-height: @paragraph-line-height;
} 

// rest lists for forms
form ul li {  margin: 0; list-style: none; }

// default color styles 
.red { color: @design; }
.blue { color: @video; }
.green { color: #00DAFF;}
.opacity { opacity: 0.5; }