/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

/* default paragraph styles */
p { 

	margin: @paragraph-margin;
	
	& aside {
		font-size: @paragraph-aside-font-size;
		line-height: @paragraph-aside-line-height;
		font-style: @paragraph-aside-font-style;
	}
    
}

em, i { font-family: 'opensans-italic'; font-style: italic; line-height: inherit; }
strong, b { font-family: 'dinpro-bold'; }
small { font-size: @small-font-size; }

/* default header styles */
h1, h2, h3, h4, h5, h6 {

	font-family: @heading-font-family;
	
	/* default subheader styles */
	small {
		font-size: @small-font-size;
		color: @small-font-color;
	}
	
}

/* Headings styles overview
 * H1-H6: bold
 * H1: uppercase, large top margin
 * H2: large top margin 
 * H3: small top margin 
 * H4-H6: set in Open Sans Italic
*/

h1 { 
	font-size: @primary-h1-size; 
	text-transform: uppercase;
}
h2 { font-size: @primary-h2-size; margin: @base-margin*2 0 0 0; } 
h3 { margin: @base-margin 0 0 0; } 
h4, h5, h6 { font: @primary-h4-size 'opensans-italic'; }


hr {
	height: 2px;
	background: lighten(@dark-grey, 60%);
	border: none;
	left: 50%;
    margin: 0 0 0 -22.5px;
    width: 45px;
	
	&.small {
		margin: 0;
	}
	
	&.large {
		width: @column*14;
		margin: @base-margin*1 auto;
	}
	
}



/* default link styles */
a, a:visited { 

	// let's reset a few things
	text-decoration: none; 
	
	// now for the normal styles
	color: darken(@dark-grey, 15%);
	transition: 0.25s;
		
	// links with a red line
	&.line, 
	&.line:visited {
		
		padding-bottom: 1px;
		border-bottom: 2px solid @design;
		
		// on :hover fadeout the line and add padding
		&:hover {
			padding-bottom: 2px;
			border-bottom: 3px solid fadeout(@design, 50%);
			transition: 0.25s; 	
		}
		
	}
	
	&.white { color: @white; }
	
	// automattically give any link with a title a border
	&[title] {
		
		padding-bottom: 1px;
		border-bottom: 2.5px solid @design;
		
		&:hover {
			padding-bottom: 3px;
			border-bottom: 2px solid fadeout(@design, 50%);
			transition: 0.25s; 
		}
		
	}
	
}

/* default abbreviations styles */
abbr,
acronym {
	text-transform: uppercase;
	color: @type-color;
	border-bottom: @type-border;
	cursor: help;
}
abbr {
	text-transform: none;
}

/* default blockquotes styles */
blockquote {

	font-family: @blockquote-font-family;
	margin: @blockquote-margin;
	padding: @blockquote-padding;
	border-left: @blockquote-border;
	color: @blockquote-font-color;
	
	cite {
  
		display: block;
		font-size: @type-font-size;
		color: @type-color;
		
		&:before {
			content: "\2014 \0020";
		}

		a,
		a:visited {
			color: @blockquote-cite-link-color;
		}
		
	}
	
}


// lists
ul, ol {
	margin: 12.5px;
}
li {
    margin: 5px;
	margin-left: 25px;
	list-style: circle;
	line-height: @paragraph-line-height;
} 

// rest lists for forms
form ul li {  margin: 0; list-style: none; }

// default color styles 
.red { color: @design; }
.blue { color: @video; }
.green { color: @audio;}
.opacity { opacity: 0.5; }