@import '../styles/variables.css';

.project--home-link {
  position: absolute;
  top: -8rem;
}


@media only screen and (max-width: 600px) {
  .project--home-link {
    top: -4rem;
  }

  .project--column-0 {
    margin-bottom: var(--small-margin);
  }
}
