---
title: About
description: 'I am Patrick Burtchael, a design and computer science student at Loyola University in New Orleans.'
hire: false
layout: layout-custom.hbs
---
<main role=main id=main>
  <section class="default page">
    <section class=default-content>
      <div class="wrapper about-page-image">
        <h1 class="about-title">
          <b>
            <span>Patrick Burtchaell</span>,
            <span>graphic design and computer science student at <a href="http://www.loyno.edu/" class="line about-page-link">Loyola University New Orleans</a>;</span>  
            <span>Front end web developer at <a href="http://peachme.com/" class="line about-page-link">PeachMe</a>.</span> 
          </b>
        </h1>
        <h2 class=about-subtitle>I build and design products for the web and for print.</h2>
        <h2 class=about-subtitle>Open to working with all and everything, my venture is about designing great products, working with others, meeting new people and teams, and gaining new experiences. <a href="mailto:patrick@peachme.com" class=line>Get in touch.</a></h2>
      </div>
    </section>
  </section>
</main>


