---
title: 404 Error
description: 'This, kids, is called a 404.'
basename: error
layout: none
---
{{> head ~}}
<link rel=stylesheet href="http://core.pburtchaell.com/error.css">
{{> header }}
<body>
<main role=main class=error-page>
  <section class=error-intro>
    <div class=wrapper>
      <h1>This, kids, is called a <b><a href=http://wikipedia.org/wiki/HTTP_404 class=line>404</a></b></h1>
      <br>
      <em>Head on <a href=/ class=line>home</a> and everything will be alright.</em>
    </div>
  </section><!-- /.error-intro -->
</main>
{{> script }}
