---
title: Writing
description: 'Short blog posts and long-form writing on technology, front end web developement and design by Patrick Burtchaell, a designer and front end web developer in New Orleans.'
layout: layout-custom.hbs
---
<div class="row row-medium">

  <section class="article-feed col col-l-6 col-s-12">
    <div class="wrapper">

     <hgroup class="article-feed-title">
        <h1>Long Form Writing</h1>
        <small><h2>Detailed guides or essays</h2></small>
      </hgroup>

      <article id="" class="article-preview article-preview-long-form">
        <header class="article-preview-header">
          <a href="/styleguide" rel=prefetch role=link>Code Styleguide</a>
        </header>
        <section class="article-preview-excerpt">
          <blockquote>
            A formal styleguide containing methods and standards for developing robust, easily maintained, and high-performance HTML, LESS, Sass and CSS.
          </blockquote>
        </section>
        <footer class="article-preview-footer">
          <div>Published on <time>March 2014</time></div>
          <div>Last updated in <time>December 2014</time></div>
        </footer>
      </article>

      <article id="" class="article-preview article-preview-long-form">
        <header class="article-preview-header">
          <a href="/colophon" rel=prefetch role=link>Colophon</a>
        </header>
        <section class="article-preview-excerpt">
          <blockquote>
            A website is storage of intellectual property: ideas, writing, thoughts and memories. This is my storage and this document explains how I built it.
          </blockquote>
        </section>
        <footer class="article-preview-footer">
          <div>Published on <time>March 2014</time></div>
          <div>Last updated in <time>December 2014</time></div>
        </footer>
      </article>

    </div>
  </section>

  <section class="article-feed col col-l-6 col-s-12">
    <div class="wrapper">

      <hgroup class="article-feed-title">
        <h1>Short Form Writing</h1>
        <small><h2>Short posts less than 1000 words</h2></small>
      </hgroup>

      {{#withSort post 'this.data.date'}}
        {{#each this.pages}}
          <article class="article-preview article-preview-short-form">
            <header class="article-preview-header">
              <a href="{{href this.dest 'dest' ''}}" title="{{this.data.title}}" rel=prefetch role=link>
                {{this.data.title}}
              </a>
            </header>
            <footer class="article-preview-footer">
              <div><time>{{date this.data.date}}</time><div>
            </footer>
          </article>
        {{/each ~}}
      {{/withSort ~}}

    </div>
  </section>

</div>
