.page-header {

  position: absolute;
  height: @header-height;
  width: 100vw;
  z-index: 4;
  .transition();

  // when scrolling down
  &.headroom--unpinned,
  &.headroom--pinned {
    .branding {
      .transform(translateY(-80px));
    }
    .nav-items { opacity: 0; }
  }

  &.headroom--top {
    .branding {
      .transform(none);
    }
    .nav-items {
      transition-delay: 0.35s;
      opacity: 1;
    }
  }

}

.branding {

  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  left: 1rem;
  padding: 1rem;
  top: 0;
  z-index: 99999;
  background: @light-grey;
  .transition();

  svg {
    .transition();
  }

  path {
    height: 10px;
    stroke-width: 1px;
    stroke-miterlimit: 10;
    padding: 1px;
    fill: none;
  }

}
#branding-design,
#branding-audio,
#branding-video {
}
#branding-design {
  stroke: @design;
}
#branding-audio {
  stroke: @audio;
}
#branding-video {
  stroke: darken(@video, 15%);
}

@import 'navigation';

/*
 * <noscript> element
 */
.noscript {
  height: auto;
  width: 100vw;
  position: fixed;
  top: @base*3;
  z-index: 2;
  text-align: center;
  color: @white;
  background: @design;
}
