.page-header {

  position: fixed;
  height: 75px;
  width: 100%;
  top: 0;
  z-index: 4;
  background: @white;
  .transition();

  // when scrolling down
  &.headroom--unpinned {
    .transform(translateY(-85px));
  }

}

.branding {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 50%;
  margin: 0 auto 0 -36.5px;
  z-index: 5;
  path {
    stroke-width: 1px;
    stroke-miterlimit: 10;
    padding: 1px;
    fill: none;
  }
}
#branding-design {
  stroke: @design;
}
#branding-audio {
  stroke: @audio;
}
#branding-video {
  stroke: darken(@video, 15%);
}

@import 'navigation';

/*
 * <noscript> element
 */
.noscript {
  height: auto;
  width: 100vw;
  position: fixed;
  top: @base*3;
  z-index: 2;
  text-align: center;
  color: @white;
  background: @design;
}
