{{> head ~}}
<body>
{{> header ~}}
<main role=main id=main>
  <section class="default page">

    <header class=default-header>
      <h1 class=default-title>{{title}}</h1>
    </header><!-- /default-header -->

    <section class=default-content>
      {{#marked}}
        {{> body}}
      {{/marked}}
    </section><!-- /default-content -->
    
  </section><!-- /.default.page -->
</main>
{{> footer ~}}
</body>
{{> script ~}}