---
published: true
title: Put Away Your Phone and Talk to Me
shortName: put-away-your-phone
description: Is it just me, or is everyone on their phones these days?
date: December 31, 2013
year: 2013
month: 12

tags:
- social media
- technology

category: Opinions
featuredImage: img/site/blog-cover.jpg
featuredImageAlt: Cell phone lying on a desk

contributors:
- Connor Moribito
---

I love to talk and I am a person that thrives on conversation. I like to debate, to collaborate, to take peoples ideas and combine them with mine. All of this I do through conversation with others. Sometimes these conversations happen on Twitter (one of my favorite social networks, just because it is made for conversations), sometimes they happen over the phone, sometimes with a text, but in reality for me, the best conversations are held in person.   

However, when I am going out with my friends, it seems like they are always on their phones. I never get to hold deep conversations, conversations that matter with my friends anymore. They are too involved with their phone. There is always a group message going and always someone to send a snapchat.

Many times I have taken my friends out to eat and they spend the majority of the time doing something on their phone: usually texting or sending a picture of themselves in the restaurant to twenty of their friends on Snapchat. 

Glad to know I, the one friend who is physically here with you, trying to have a conversation in person, matter. One of the reasons I like to go out to eat is not only the food, but to have those conversations that matter, the ones I thrive on, with people I like. I want to get to know you. I want to know how your week went. I want to know how your mother has been. And, I am sure you have some questions for me too. 

But, instead you only spend half the time interacting in conversation with me.  The rest of the time you spend interacting with friends who are not even here with you.  

What I especially do not like is when you never set your phone back down and I just sit there talking while you say things like _uh huh_ and _yeah_. I know you aren't paying attention. 

> What an amazing conversation. 
> <cite>Patrick Burtchaell: <a href="yolo">testing link</a></cite>

Actually, I would probably be better off if I pushed this table against the wall, pulled up a chair, faced the wall and talked to it. At least the wall doesn’t have the blue glow of its phone on its face because it is busy texting.  

Sometimes I will try to have a conversation with someone while dining, and if starts out well. Then they get a text, they open up their phone and respond to the text. That’s okay, I understand if you have to send a quick message to someone. I understand that. As long as you can continue the conversation with me where we left off, I have no problem with it. 

So that is my problem. People are distracted in face-to-face conversations these days. They cannot put their phone away and focus on me. 
It frustrates not only me, but others too.

My petition to the people of the world is get off your phones and give those around you in the present the attention they deserve. They are here with you; they obviously want to be with you because you matter to them. Talk to them and be a real friend. 

You will be surprised what you can tell some one when you don’t have a 140 character limit. Until then, I will try texting my friends across the table when we go out for dinner. That should work perfectly. 