@import '../../styles/variables.css';

.list-item {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* Remove padding on the first list item, */
.list-item:nth-of-type(1) {
  margin-top: 0;
}

.list-item__title,
.list-item__details-excerpt {
  margin: 0;
}

.list-item__details-excerpt,
.list-item__details-excerpt:hover,
.list-item__details-excerpt:active {
  color: var(--dark-gray);
  font-style: italic;
}

/* Display an m dash after the category and before the year */
.list-item__details-category:after {
  content: '\0020\2014\0020';
}
