:local(.routeFooter) {
  color: #5F595A;
  margin: 2rem 0;
  text-align: right;
  position: relative;
  max-width: 100%;
  transition: background-color 3s ease;
  user-select: none;
}

:local(.routeFooterHeart) object {
  fill: #ff2e5e;
  margin-left: .5rem;
  margin-top: 2px;
  position: relative;
}
