@import '../../styles/variables.css';

.list-view.list-view-type-grid .list-view-item {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.list-view-item-container:nth-of-type(1) .list-view-item,
.list-view-item-container:nth-of-type(1) .list-view-item {
  margin-top: 0;
}

.list-view-item {
  display: flex;
  height: 40rem;
  position: relative;
}

.list-view-item:hover:not(.is-pending) {
  cursor: pointer;
}

.list-view-item:hover.is-coming-soon {
  cursor: not-allowed !important;
}

.list-view-item:hover:not(.is-pending) .list-view-item-preview {
  border-color: var(--light-gray);
}

.list-view-item:hover.is-coming-soon .list-view-item-preview {
  border-color: var(--white) !important;
}

.list-view-item.is-pending .list-view-item-preview {
  background: linear-gradient(45deg, #E6E6E6, #E6E6E6, #D6D3D3, #E6E6E6,#E6E6E6);
  background-size: 1000% 1000%;
  animation-name: scroll-background-gradient;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.26, 0.99);
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.list-view-item-preview {
  height: 25rem;
  width: 100%;
  padding: .25rem;
  box-sizing: border-box;
  position: absolute;
  border: var(--default-border-width) solid transparent;
  border-radius: var(--default-border-radius);
  transition: background-color 1s ease;
}

.list-view-item-preview-image {
  width: 100%;
  height: 100%;
  position: relative;;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  transition: 300ms ease;
  border-radius: 1px;
  padding: var(--default-margin);
  box-sizing: border-box;
}

.list-view-item.is-coming-soon {
  opacity: .5;
}

.list-view-item-title {
  top: 25rem;
  position: absolute;
  z-index: 2;
  transition: 100ms ease;
  margin-top: 2rem;
}

.list-view-item-title.is-coming-soon {
  color: var(--light-gray);
}

.list-view-item-title.is-new:after,
.list-view-item-title.is-coming-soon:after {
  content: 'New';
  color: var(--red);
  font-size: 1.5rem;
  position: absolute;
  margin-left: .75rem;
  bottom: .75rem;
  letter-spacing: .025ex;
}

.list-view-item-title.is-coming-soon:after {
  content: 'Coming Soon';
  color: var(--light-gray);
  width: 300px;
}

.list-view-item-tags {
  position: absolute;
  display: inline-block;
  top: 30rem;
}

.list-view-item-tags ul {
  display: inline-block;
}

.list-view-item-tags ul li {
  display: inline-block;
  color: var(--light-gray);
  margin-left: .75rem;
}

.list-view-item-tags ul li:after {
  content: '/';
  margin-left: .75rem;
  font-size: 1.75rem;
}

.list-view-item-tags ul li:first-child {
  margin: 0;
}

.list-view-item-tags ul li:last-child:after {
  content: '';
  margin: 0;
}
