.transition (@time: 0.5s) {
  transition: @time ease;
}
.transition-delay(@value) {
  -webkit-transition-delay: @value;
     -moz-transition-delay: @value;
         -transition-delay: @value;
}
.transform (@value) {
  -webkit-transform: @value;
          transform: @value;
}
.animation(@name, @duration, @iteration-count) {
  -webkit-animation: @arguments;
          animation: @arguments;
}
.user-select(@value: none) {
  -webkit-user-select: @value;
     -moz-user-select: @value;
      -ms-user-select: @value;
          user-select: @value;
}
.box-sizing(@value: border-box) {
  -webkit-box-sizing: @value;
     -moz-box-sizing: @value;
          box-sizing: @value;
}
