h1,
h2,
h3 {
  margin: 0;
}

h1 {
  position: relative;
  font-size: 8rem;
  line-height: 10rem;
  font-weight: 400;
  margin-bottom: 1rem;
  left: -3px;
}

@media only screen and (min-width: 720px) {
  h1 {
    font-size: 6rem;
    line-height: 8rem;
  }
}

h2 {
  position: relative;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  left: -1px;
  color: #5F595A;
}

h3 {
  position: relative;
  font-size: 3rem;
  line-height: 3rem;
  top: 2px;
  margin-bottom: 1rem;
  font-weight: 400;
}

p,
li {
  font-size: 3rem;
  line-height: 4rem;
  position: relative;
  top: -2px;
  margin-top: 0;
  margin-bottom: 3rem;
}

small {
  font-size: 2rem;
  line-height: 2rem;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #241F20;
}

p a,
h1 a,
h2 a,
h3 a,
li a {
  text-decoration: none;
}

h2 a {
  color: #5F595A;
}
