---
published: true
title: Blog

shortname: blog
description: A collection of thoughts, research, and design curated by Patrick Burtchaell.  

layout: default.hbs
posts:
---

<section>
	<h3>It will be here soon...</h3>
	<p>I am in the progress of migrating my content to the new blog. In the meantime, you can read some of my posts on <a href="{{ site.author.medium }}" class="line">Medium</a>.</p>
</section>