---
published: true
title: The Blog

shortname: blog
description: A collection of thoughts, research, and design curated --and mostly written-- by Patrick Burtchaell.  

layout: custom.hbs
posts:
---
<section class=landing>
	<h1>soon.</h1>
	<p>I am in the progress of migrating my content to its new home.<br> 
	   In the meantime, you could read some of my posts on <a href="{{ site.author.medium }}" class="line white">Medium</a> if you'd like.</p>
</section>