---
published: true
title: The Blog

shortname: blog
description: A collection of thoughts, research, and design curated --and mostly written-- by Patrick Burtchaell.  

layout: layout-custom.hbs
---
<section class=landing>
	<h1 class=landing-title>soon.</h1>
	<p class=landing-subtitle>I am in the progress of migrating my content to its new home.<br> 
	   In the meantime, you could read some of my posts on <a href="{{ site.author.medium }}" class="line white">Medium</a> if you'd like.</p>
</section>