{{> open-inc ~}}
{{> header-inc ~}}
<main role=main class="main default page">
	<div class=container>
		<section class=wrapper>
			{{#markdown}}
            {{> body }}
            {{/markdown}}
		</section>	
	</div>
</main>
{{> footer-inc }}
{{> close-inc }}