{{> open-inc }}
<script src={{assets}}/js/highlight.min.js></script>
<script>hljs.initHighlightingOnLoad();</script>
{{> header-inc }}
<main role=main class="main default page">
	<div class=container>
		<section class=wrapper>
			{{> body}}
		</section>	
	</div>
</main>
{{> footer-inc }}
{{> close-inc }}