{{> open-inc }}
{{> header-inc }}
<main role=main class="main portfolio page">
	<div class=container>
		<section class=wrapper>
            {{ name }}
		</section>	
	</div>
</main>
{{> footer-inc }}
{{> close-inc }}