{{> head ~}}
{{> header }}
<main role=main id=main>
  <article itemscope itemtype=http://data-vocabulary.org/ class="portfolio page">  
      
    <header class=portfolio-header>
      <h1 itemprop=name>{{page.title}}</h1>
      <time>{{pubDate}}</time>
      {{#if page.description}}
      <em itemprop=description>{{description}}</em>
      {{/if ~}}
    </header><!-- /portfolio-header -->
		
    <section class=portfolio-content>
      {{#markdown}}
        {{item.body}}
      {{/markdown ~}}
      <script>Echo.init();</script>
    </section><!-- /portfolio-content -->
		
  </article><!-- /.article.page -->
</main><!-- /#main -->
{{> footer }}
{{> script ~}}