<!doctype html public>
<html lang="en" prefix="og: http://ogp.me/ns#">
<meta http-equiv=X-UA-Compatible content="IE=Edge,chrome=1"/>
<meta name=viewport content="width=device-width,initial-scale=1.0,maximum-scale=1.0"/>
<title>Patrick Burtchaell - Product design and web development from New Orleans</title>
<meta property="og:title" content="Product design and web development from New Orleans"/>
<meta property="og:type" content="website" />
<meta property="og:url" content="http://pburtchaell.com"/>
<meta property="og:image" content="http://staging.pburtchaell.com/facebook_cover.jpg"/>
<meta property="og:description" content="I am Patrick Burtchaell, a product designer and front-end web developer from New Orleans, Louisiana, studying at Loyola University New Orleans and considering contract work."/>
<meta name="description" content="I am Patrick Burtchaell, a product designer and front-end web developer from New Orleans, Louisiana, studying at Loyola University New Orleans and considering contract work."/>
<meta name="keywords" content="product design, interface design, design, new orleans, loyola university, facebook, product designer, web design, web designer, front-end, frontend, web developer"/>
<meta name="format-detection" content="telephone=yes"/>
<meta name="theme-color" content="#ffffff"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name=twitter:site content="@pburtchaell"/>
<meta name=twitter:title content="Product design and web development from New Orleans"/>
<meta name=twitter:description content="I am Patrick Burtchaell, a product designer and front-end web developer from New Orleans, Louisiana, studying at Loyola University New Orleans and considering contract work."/>
<meta name=twitter:creator content="@pburtchaell"/>
<meta name=twitter:image content="http://staging.pburtchaell.com/twitter_cover.jpg"/>
<body>
  <div id="mount"></div>
</body>
<!-- v<%= htmlWebpackPlugin.options.version %> - Build: <%= webpack.hash %> -->
