@import '../../styles/utilities/variables';

.home-subtitle {
  hyphens: none;
}

.works-feed-item {
  margin-bottom: 1rem;
}

.works-feed-item-content {
  flex: 1 auto;
  margin: 0 auto;
  align-self: center;
  max-width: 700px;

  h1 {
    font-size: @font-size-base;
    line-height: @line-height-base;
    margin: 0;
  }

  a {
    text-decoration: none;

    &:hover,
    &:active {
      color: @color-red;
    }
  }
}

.works-feed-item-attributes {
  color: @color-grey;
  letter-spacing: .125ex;
  font-size: @font-size-small;
}

.feed-text,
.feed-text a {
  color: @color-grey;
}
