---
layout: none
---
<section class="portfolio-item--header">
  <div class=header-content>
    <h1 class=rst><b>Work With Me</b></h1>
    <h4 class=rst>Design + Development from<br><b>New Orleans, Louisiana</b></h4>

    <div class=actions>
      <button class="btn--inline [  btn-white ]" id=trigger-information 
        onclick="window.location.href='#/about'">
        About me
      </button>
      <button class="btn--inline [  btn-white ]" id=trigger-work
        onclick="window.location.href='#/projects'">
        My projects
      </button>
    </div>

  </div>
  <div class="portfolio-item--cover work"></div>
</section>
