@import 'styles';

.error-page {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  top: 0;
  position:  absolute;
  color: @white;
  text-align: center;
  display: flex;
  background: @design url(../img/site/404.gif) center center no-repeat;
  background-size: cover;
  a {
    color: @design !important;
    border-bottom: 2px solid @design  !important;
    &:hover { padding-bottom: 4px; }
  }
}

.error-intro {
  align-self: center;
  flex: 1;
  color: @design;
  text-align: center !important;
}
