// grid trigger
#ggs-switch:after {
	content: 'Click for the grid';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	height: 24px;
	width: 200px;
	color: @white;
	font-size: 10px;
	text-shadow: 1px 1px rgba(10,10,11,0.1);
	line-height: 22px;
}

/* 
 * PACE loading bar
 */
.pace {
	user-select: none;
}
.pace .pace-progress {
	display: block;
	position: fixed;
	top: -20px;
	left: 0;
	height: @base-padding/2;
	background: @video;
	pointer-events: none;
}
.pace.pace-active .pace-progress {
	top: 79px;
	z-index: 999999 !important;
}