html {
  height: 100%;
  margin: 0px;
  font-size: 8px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  cursor: default;
  font-family: 'web-din-pro';
  font-size: 3rem;
  font-kerning: normal;
  font-feature-settings: 'liga' on, 'smcp' on, 'kern' on;
  line-height: 4rem;
  color: @color-black--001;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-appearance: none;
     -moz-appearance: none;
}

body::-moz-selection,
body::selection  {
  background-color: @color-white--001;
}

#app-mount,
.app-root,
.route-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: @color-white--001;
}
