img,
video,
.video
.image {
  border: none;
  outline: none;
  width: 100%;
  margin: var(--default-margin);
  box-shadow: var(--default-box-shadow), var(--default-box-shadow);
  border: 1px solid var(--lightest-gray);
}

figure,
.figure {
  margin: 0;
  margin: var(--default-margin);
  margin-top: var(--small-margin);
}

figure img,
.figure img,
figure video,
.figure video,
figure .image,
.figure .image,
figure .video,
.figure .video {
  margin: 0;
  box-shadow: var(--default-box-shadow);
}

figure figcaption,
.figure figcaption {
  display: block;
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
  color: var(--light-gray);
  margin: var(--default-margin);
}
