img,
.image {
  border: none;
  outline: none;
  width: 100%;
  margin: var(--default-margin);
}

figure,
.figure {
  margin: 0;
  margin: var(--default-margin);
  margin-top: var(--small-margin);
}

figure img,
.figure img,
figure .image,
.figure .image {
  margin: 0;
  box-shadow: var(--default-box-shadow);
}

figure figcaption,
.figure figcaption {
  display: block;
  font-size: var(--small-font-size);
  font-style: italic;
  line-height: var(--small-line-height);
  color: var(--light-gray);
  margin: var(--default-margin);
}
