---
title: About
description:
shortName: about
---

<img src={{site.url}}/assets/img/site/patrick.jpg height=100px width=100px class=portrait>

<h4 class=title>Patrick Burtchaell</h4>
<small><h5 class=subtitle>New Orleans, Louisiana</h5></small>

Outside working as a freelance designer and videographer, I currently attend the *[New Orleans Center for Creative Arts](http://www.nocca.com)*, an high school arts conservatory in the Bywater neighborhood of New Orleans, as a level four media arts student. Since my first year at the New Orleans Center for Creative Arts in 2010, I have recieved technical and artistic training in design, audio engineering, cinematography, and computer science.

After high school graduation in May 2014, I will attend either *[Loyola University New Orleans](http://loyno.edu)* or Louisiana State University for Graphic Design with honors in the fall semester of 2014; outside my college studies, I plan to continue working as a freelance designer.

I tweet as [@pburtchaell]({{author.twitter}}) and you can find my work on [Dribbble]({{author.dribbble}}) and [B&eacute;hance]({{author.behance}}).

<h4 class=title>pburtchaell.com</h4>
<small><h5 class=subtitle>a living machine</h5></small>

The purpose of this website is be serve as an online repository for essays, article, documents, and work. The [colophon](/colophon) and [code styleguide](/styleguide) document the processess used to build pburtchaell.com and the source can be found on [Github](http://github.com/pburtchaell/site-assemble). 

<small><p class=subtitle>PS: Check the pulse in the footer</p></small>