---
title: 404 Error
shortName: error
layout: none
---
{{> open-inc }}
<link rel=stylesheet href={{site.url}}/assets/css/error.css> 
<body>
<main role=main class=error-page>
  <section class=error-intro>
    <div class=wrapper>
      <h1>This, kids, is called a <a href=http://wikipedia.org/wiki/HTTP_404 class=line>404</a></h1>
      <br>
      <em>Head on <a href={{site.url}} class=line>home</a> and everything will be alright.</em>
    </div>
  </section><!-- /.error-intro -->
</main>
{{> close-inc }}