---
title: Design + Video + Audio from New Orleans
shortName: home
layout: layout-custom.hbs
---
<main role=main class=main>
  <section class="landing blue">
    <h1 class=landing-title>soon</h1>
    <p class=landing-subtitle>I truly am sorry, but I don't have any of my work on the site yet.<br>In the meantime, you could check out my work on <a href={{ author.dribbble }} class="line">Dribbble</a> and <a href={{ author.behance }} class="line white">B&eacute;hance</a>. You may also want to <a href={{site.url}}/blog class=line>visit</a> my blog.</p>
    <p class=landing-subtitle>Maybe you'll even follow me.<em>*chuckles*</em></p>
  </section>  
</main>