---
published: true
title: Design + Video + Audio from New Orleans

shortname: home
description: User interface designer and videographer from New Orleans. 

layout: none
posts: ['src/posts/2013_05_*.md.hbs']
---

{{> open-inc }}
{{> header-inc }}

<section class="index-title">
	<div class="row">
		<div class="large-12 small-12 columns">
			<h1>{{ home.title }}</h1>
			<h2>{{ home.subtitle }}</h2>
		</div>
	</div>
</section>

<section class="index-about">
	<div class="row">
		\{{#markdown}}
		I find passion in creating content. 
		\{{/markdown}}
	</div>
</section>

{{> footer-inc }}
{{> close-inc }}

