---
title: Downbeat Student Music Awards
data:
layout: none
---

<section class=home-player>
  <h1>Downbeat Student <br> Music Awards</h1>
  <h4 class=rst><strong>Patrick Burtchaell</strong></h4>
  <a href=#/live class="btn btn-blue"><h4 class=rst><strong>Live</strong></h4></a>
  <a href=#/studio class="btn btn-green"><h4 class=rst><strong>Studio</strong></h4></a>
  <small><h4>Select a playlist to begin</h4></small>
</section>
