      <div class=article-details>
        <hr class=small>
        <small><em><a href={{author.twitter}} class=line itemprop=url>Twitter</a> and <a href={{author.dribbble}} class="line dribbble" itemprop=url>Dribbble</a></em></small>
      </div><!-- /article detials -->