---
published: true
title: My Work

shortName: work
description: The work of Patrick Burtchaell, a New Orleans based front-end developer, designer and videographer. 

layout: layout-custom.hbs
---
<section class="landing blue">
	<h1 class=landing-title>this is awkward.</h1>
	<p class=landing-subtitle>Well... I truly am sorry, but I don't have any of my work on the site yet.<br>In the meantime, you could check out my work on <a href={{ site.author.dribbble }} class="line white">Dribbble</a> and <a href={{ site.author.behance }} class="line white">B&eacute;hance</a>.</p>
	<p class=landing-subtitle>Maybe you'll even follow me.<em>*chuckles*</em></p>
</section>

<script>
function getTextSync(url) {
    
    var request = new XMLHttpRequest();
    var url = /**/;
    request.open("GET", url, false)
    request.send(null);
    
    // Throw an error if the request was not 200 OK
    if(request.status !== 200) throw new Error(request.statusText);
    
    // Throw an error if the type was wrong
    var type = request.getResponseHeader('Content-Type');
    if (!type.match(/^text))
                    throw new Error("Expected textual response; got: " + type);
        return request.responseText;

    
    request.onreadystatechange = function() {
        if (request.readyState === 4 && request.status === 200){
            var type = request.getResponseHeader("Content-Type");
            if (type.match(/^text/))
                callback(request.responseText);
        }   
    };
    request.send(null);
    
}
</script>