---
published: true
title: My Work

shortname: work
description: The work of Patrick Burtchaell, a New Orleans based front-end developer, designer and videographer. 

layout: custom.hbs
---
<section class=landing>
	<h1 class=landing-title>this is awkward.</h1>
	<p class=landing-subtitle>Well... I truly am sorry, but I don't have any of my work on the site yet.<br>In the meantime, you could check out my work on <a href={{ site.author.dribbble }} class="line white">Dribbble</a> and <a href={{ site.author.behance }} class="line white">B&eacute;hance</a>.</p>
	<p class=landing-subtitle>Maybe you'll even follow me.<em>*chuckles*</em></p>
</section>