---
published: true
title: Work
shortName: work
layout: none
---
{{> open-inc }}
<style>
body {
   background: rgb(40,40,41); 
  }
.landing {
	color:rgb(248,248,248);
	text-align: center;
	padding: 200px 0 0 0;	
  background: rgb(40,40,41);
}
.main {
  min-height: 100vh;
  background: rgb(40,40,41);
  padding: 25px;
}
.title {
    font-size: 2.5rem;
  }
.landing-subtitle {
  max-width: 455px;
  margin: 25px auto;
  padding: 10px;
  text-align: center;
}
.page-footer {
  color: rgb(248,248,248);
}
</style>
<main role=main class=main>
  <section class=landing>
    <div class=wrapper>
      <object>
      <svg width="175px" height="175px" viewBox="0 0 75 75" enable-background="new 0 0 75 75">
        <path id="branding-audio" stroke-miterlimit="10" 
              d="M56.379,42.894l4.377,4.377 l-4.377,4.378l-4.378-4.378L56.379,42.894 M56.379,30.15L39.258,47.271l17.121,17.121L73.5,47.271L56.379,30.15L56.379,30.15z"/>
        <path id="branding-video" stroke-miterlimit="10" 
              d="M37.508,24.351l4.377,4.378 l-4.377,4.377l-4.378-4.377L37.508,24.351 M37.508,11.608L20.387,28.729L37.508,45.85l17.121-17.121L37.508,11.608L37.508,11.608z"/>
        <path id="branding-design" stroke-miterlimit="10" 
              d="M18.621,42.894l4.378,4.377l-4.378,4.378l-4.378-4.378L18.621,42.894 M18.621,30.15L1.5,47.271l17.121,17.121l17.121-17.121 L18.621,30.15L18.621,30.15z"/>
      </svg>
    </object>
      <h1 class=title>With time.</h1>
      <h4 class=subtitle>I don't have any of my work here yet</h4>
      <p class=landing-subtitle>But, in the meantime, you can view everything on 
        <a href={{author.dribbble}} class=line>Dribbble</a> and 
        <a href={{author.behance}} class=line>B&eacute;hance</a>. Maybe you'll even follow me.<em>*chuckles*</em></p>
    </div>
  </section>  
</main>
{{> close-inc }}