---
published: true
title: Blog

shortname: blog
description: A collection of thoughts, research, and design curated by Patrick Burtchaell.  

layout: default.hbs
posts:
---

<section>

	<h3>It will be here soon...</h3>
	<p>I am in the progress of migrating my content to the new blog. In the meantime you can folow me on <a href="{{ site.author.dribbble }}">Dribbble</a> and <a href="{{ site.author.behance }}">Behance</a>.</p>
	
</section>