---
published: true
title: About 

shortname: about
description: I am a 17 year old designer and videographer

layout: default.hbs
posts:
---

<section>
	<h3>Patrick Burtchaell</h3>
	<p>I am a freelance designer and videographer from New Orleans with a passion for iced coffee, good music, and pixel-perfection.</p>
	<p>With a huge amount of motivation and experience, I push the creative and the technical to max. With every project, I believe that practical integration of the two, along with thoughtful content, will produce powerful products with the ability to inform and inspire its consumers. In the end, that is what I produce everything for: human interaction. It does not matter if it is video or audio or design, I always believe a project must perform well, look good, and be practical and easy for consumers to use or digest. </p>
	<p>You can connect with me on 
		<a href="{{ site.author.dribbble }}" class="line">Dribbble</a>, 
		<a href="{{ site.author.behance }}" class="line">Behance</a>, 
		<a href="{{ site.author.github }}" class="line">Github</a>, and -of course- 
		<a href="http://twitter.com/{{ site.author.twitter }}" class="line">Twitter</a>.</p>
</section>