.case-study-content {
  margin: 8rem 0;
}

.case-study-intro {
  margin-top: 0;
}

.case-study-header {
  padding-top: 5rem;
  transition: background-color 1s ease;
}

.case-study-header h1 {
  margin-top: 1rem;
}

.case-study-header h2 {
  margin-bottom: 6rem;
}

.case-study-header h1,
.case-study-header h2 {
  text-align: center;
}

.case-study-header .row,
.case-study-header .column {
  margin: 0;
  padding: 0;
}

.case-study-meta {
  text-align: right;
  color: #5F595A;
  font-size: 2rem;
  position: relative;
  top: 2px;

  &.case-study-meta--press {
    text-align: left;
  }

  li:first-of-type {
    div:nth-of-type(1) {
      margin-top: 0;
    }
  }

  li {
    div:nth-of-type(1) {
      font-size: 2rem;
      line-height: 4rem;
      margin-top: 1rem;
    }

    div:nth-of-type(2) {
      text-transform: uppercase;
      letter-spacing: .125ex;
      font-size: 1.75rem;
      line-height: 2rem;
      font-weight: 800;
    }
  }
}

.case-study-link {
  a {
  text-decoration: none !important;

    span {
      transition: 400ms ease;
    }

    &::after {
      content: "\2192";
      transition: margin 300ms ease;
    }

    &:hover::after {
      margin-left: .5rem;
    }
  }
}
