.section-writing {
  display: flex;
  flex-direction: column;
  article {
    flex: 1 auto;
    header {
      margin: 1rem 0;
      max-width: 700px;
      margin: 2rem auto;
    }
    section {
      display: none;
    }
    footer {
      display: none;
    }
    &.active {
      max-width: 100%;
      margin: 0;
      position: fixed;
      overflow: scroll;
      height: 100%;
      top: 4rem;
      margin-top: 4rem;
      padding-bottom: 4rem;
      header {
        max-width: 700px;
        margin: 2rem auto;
        padding: 0 1rem;
        hgroup {
          max-width: 700px;
          margin: 0 auto;
          div {
            opacity: .5;
          }
        }
      }
      section {
        display: block;
        p {
          max-width: 700px;
          margin: 1rem auto;
          padding: 0 1rem;
          font-family: 'Merriweather';
          font-size: .9rem;

          /**
           * Since there is a title above the first
           * paragraph, remove the top margin.
           */
          &:first-child {
            margin-top: 0;
          }

          /**
           * Increase the margin by 2rem to add additional
           * space between the last paragraph and the footer.
           */
          &:last-child {
            margin-bottom: 3rem;
          }

        }
        a {
          color: @color-black;
        }
        figure {
          max-width: 1500px;
          margin: 3rem auto 1rem auto;
        }
        figcaption {
          color: @color-grey;
          .small();
        }
        img {
          width: 100%;
        }
      }
      footer {
        display: block;
        background: @color-black;
        color: @color-grey;
        p {
          max-width: 700px;
          margin: 2rem auto;
        }
      }
    }
  }
}

.section-hero {
  background: @color-black;
  min-height: 100vh;
  display: flex;
  flex: 1 auto;
  position: relative;
  padding: 0 !important;
  .work-hero-wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    hgroup {
      flex: 1 auto;
      align-self: center;
      margin: 0 auto;
      width: 550px;
      position: relative;
      display: block;
      h1 {
        color: @color-white;
        letter-spacing: .5ex;
        font-size: 1.5rem;
      }
      .portfolio-page-title {
        font-size: 1.5rem;
        animation-duration: 1s;
        animation-name: down;
      }
      h2 {
        color: @color-white;
        letter-spacing: .5ex;
        animation-duration: 2s;
        animation-name: up;
      }
    }
    position: relative;
    text-align: center;
    z-index: 2;
    //background: fadeout(@color-yellow, 80%);
  }
}


.work-hero-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: @color-black;
  background-size: cover;
  background-position: top center;
  z-index: 1;
  animation-duration: 2s;
  animation-name: in;
  &.about {
    background: url(../../../images/cover.png) center center / cover no-repeat;
  }
}

@media screen and (max-width: 920px) {
  .work-hero-background {
    background-size: auto;
  }
}

@keyframes in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.work-page-subtitle {
  text-transform: uppercase;
}

.section-availability {
  text-transform: uppercase;
  user-select: none;
  h4 {
    margin-top: 0;
  }
}


/**
 * #availability
 *
 * @desc A feature that shows what months I am available
 *       on hover. Turns into a table-like design on
 *       mobile.
 */
.available-months {
  margin: 0 auto 2rem auto;
  padding: 0;
  width: 12rem + .125*24rem + .1*24rem;
  height: 20px;
  position: relative;
}

.month {
  display: block;
  list-style: none;
  height: 1rem;
  width: 1rem;
  float: left;
  clear: right;
  text-align: center;
  margin: 0 .125rem !important;
  padding: 0;

  @color-available: @color-green;
  @color-unavailable: @color-red;

  &[data-avail=true] {
    background: none;
    border: .1rem solid @color-available;
    &:before {
      content: 'Available';
      letter-spacing: .125ex;
      background: none;
      color: @color-available;
      margin-top: 10px;
      border: .1rem solid @color-available;
    }
  }

  &[data-avail=false] {
    background: none;
    border: .1rem solid @color-unavailable;
    &:before {
      content: 'Unavailable';
      letter-spacing: .125ex;
      background: none;
      color: @color-unavailable;
      margin-top: 10px;
      border: .1rem solid @color-unavailable;
    }
  }

  &[data-avail=null] {
    background: none;
    border: .1rem solid @color-yellow;
    &:before {
      content: 'Limited';
      letter-spacing: .125ex;
      background: none;
      color: @color-yellow;
      margin-top: 10px;
      border: .1rem solid @color-yellow;
    }
  }

  &:before, &:after {
    content: '';
    display: inline-block;
    position: relative;
    z-index: 2;
    margin-top: 10px;
    font: 0.75rem @type-secondary;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
  }
  &:before {
    top: 1.25rem;
    left: 0;
    color: @color-black;
    padding: 0.125rem;
  }
  &:after {
    content: attr(data-month); // Pull the month name in from the attribute
    top: .75rem;
    font-weight: 600;
    left: 0;
  }

  &.month-active {
    cursor: pointer;
    &:before, &:after {
      opacity: 1;
      transform: translateY(-5px);
      transition: all 400ms;
    }
  }

}

@media screen and (max-width: 767px) {

  .available-months {
    height: auto;
  }

  .month {
    height: auto;
    width: 100%;
    float: none;
    clear: none;
    margin: 0.5rem 0.125rem !important;
    padding: 0;
    transition: none;

    &[data-avail] {
      &:before {
        opacity: 1;
        border: none !important;
      }
    }

    &[data-avail=true] {
      opacity: 1;
      background: none;
      border: .1rem solid @color-green;
    }

    &[data-avail=null] {
      opacity: 1;
      background: none;
      border: .1rem solid @color-yellow;
    }

    &:before,
    &:after {
      color: @color-white;
      font-family: 'DIN Pro';
      font-weight: 600;
      opacity: 1;
      border: none;
      position: relative;
      &:hover {
        transform: none;
      }
    }

    &:before {
      font-weight: 600;
      top: -.25rem;
      padding: 0 .25rem 0 0;
    }

    &:after {
      top: -.25rem;
      text-transform: none;
    }

    &:hover,
    &.month-active {
      &:before,
      &:after {
        transform: none !important;
      }
    }

  }

}
