---
layout: none
---
<section class="work-header">
  
  <hrgroup class=work-header-content>

    <h1 class=work-title>
      <b>Work With Me</b>
    </h1>
    <h2 class=work-subtitle>
      Design &amp; Front-end development from New Orleans
    </h2>

    <button class="btn--inline [  btn-white ]" id=trigger-work
      onclick="window.location.href='#/projects'">
      My projects
    </button>

    <button class="btn--inline [  btn-white ]" id=trigger-about
      onclick="window.location.href='#/about';"
      ng-click="scroll()">
      About me
    </button>

  </hrgroup>

  <span class=work-header-overlays>
    <span class="overlay o2"></span>
    <span class="overlay o1"></span>
  </span>

</section>

<section class=work-projects data-ui-view>

</section>
