---
layout: none
---
<section class="projects-page" data-ng-controller="ProjectsController as projects">
  <div class=portfolio-wrapper>

     <article class=portfolio-item data-ng-repeat="item in items">
      
      <div class=portfolio-item--wrapper>
        <header>
        <a class=portfolio-item--link href="#/projects/id/\{{item.id}}">
          <h1 class=portfolio-item--title>
            \{{item.title}}
          </h1>
        </a>
        </header>
      </div>

    </article>

  </div><!-- /portfolio-wrapper -->
</section>

<!--     data-ng-style="{ 'background-image': 'url(/assets/img/work/projects/\{{item.id}}.jpg)' }"   -->