@import '../../styles/variables.css';

/* 
 * BEM Block: site-header
 * Description: Styles for the global website header
 * See more: https://en.bem.info/methodology/quick-start/
 */
.site-header {  
  position: fixed;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 2rem 0;
  height: 8rem;
  width: 100%;
  z-index: var(--z-index-1);
  text-align: left;
  border-bottom: var(--default-border);
  background: var(--white);
  user-select: none;
}

.site-header__title {
  display: inline-block;
  position: relative;
  bottom: 1px;
  height: 4rem;
  line-height: 4rem;
}

.site-header__title,
.site-header__title:hover,
.site-header__title:active {
  width: 200px;
  color: var(--black);
}

/* 
 * On small screens, the header is not fixed and is
 * smaller in height. The navigation also shifts to
 * to under the title, requiring an extra margin.
 */
@media only screen and (max-width: 600px) {
  .site-header {  
    position: absolute;
    padding: 1rem 0;
    height: auto;
  }

  .site-header__title {
    margin-bottom: 1rem;
  }
}
