@import '../../styles/variables.css';

/* 
 * BEM Block: site-header
 * Description: Styles for the global website header
 * See more: https://en.bem.info/methodology/quick-start/
 */
.site-header {  
  position: fixed;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 8rem;
  width: 100%;
  z-index: var(--z-index-1);
  text-align: left;
  border-bottom: var(--default-border);
  background: var(--white);
  user-select: none;
}

.site-header__title,
.site-header__navigation {
  display: inline-block;
  position: relative;
  bottom: 1px;
  height: 4rem;
  line-height: 4rem;
}

.site-header__title,
.site-header__title:hover,
.site-header__title:active {
  width: 200px;
  color: var(--black);
}

.site-header__navigation .site-header__navigation-item {
  margin-left: 3rem;
  width: 72px;
  color: var(--blue);
}

.site-header__navigation .site-header__navigation-item:first-of-type {
  margin-left: 0;
}
