<section class=support>
  <h4>Like what I do?</h4>
  <small><h4>Buy me a soda.</h4></small>
  <div class="bit coin">
    <span><strong>Bitcoin:</strong>{{author.bitcoin.primary}}</span>
  </div>
  <div class="doge coin">
    <span><strong>Dogecoin:</strong>{{author.dogecoin.primary}}</span>
  </div>
</section>