/*	
 *
 *  Four-column grid active
 *  ----------------------------------------
 *  Margin   | #  1   2   3   4   |   Margin
 *  5.55555% | %  25  50  75  100 | 5.55555%
 *	
 */


// base font-sizes and & line-heights
body { // 16px / 24px 
	font-size: @font-size*1.5; 
	line-height: 2.0; 
}

// base wrapper
.wrapper {
	padding: 0 @column*1 0 @column*1;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}