/*------------------------------------*\
    $BASELINE
\*------------------------------------*/

/*
 * Browser specific styles:
 */
::-moz-selection { 
  background-color: @dark-grey; 
  color: @white; 
}
::selection { 
  background-color: @dark-grey; 
  color: @white; 
}
::-webkit-scrollbar { 
  width: 12px;
  background: @white;
}
::-webkit-scrollbar-track-piece  { border-left: 1px solid @light-grey; }
::-webkit-scrollbar-thumb:vertical { 
  background: darken(@light-grey,5%); 
  &:hover { background: @dark-grey; } 
}

/*
 * Site-wide, global header
 */
.page-header {
	
  position: fixed;
  height: 75px;
  width: 100%;
  top: 0;
  z-index: 4;
  background: @white;
  border-bottom: 1px solid @light-grey;
  .transition();

	// when scrolling down
	&.headroom--unpinned {
    .transform(translateY(-85px));
	}
	
}

// SVG branding
.branding {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 50%;
  margin: 0 auto 0 -39.5px;
  z-index: 3;
  stroke-width: 1px;
}
#branding-design {
  fill: fadeOut(@design, 90%);
  stroke: @design;
}
#branding-audio {
  fill: fadeOut(@audio, 90%);
  stroke: @audio;
}
#branding-video {
  fill: fadeOut(@video, 90%);
  stroke: darken(@video, 15%);
}


/* 
 * Kickstarter banner styles
 */
//@import '../pages/kickstarter';


/*
 * Page navigation
 */
@import '../partial/navigation';


/* 
 * Site-wide, global footer
 */
.page-footer {
  padding: @base round(@column*6);
  text-align: center;
  letter-spacing: 1px;
  .transition();
  &:hover {
    .page-footer-legal { opacity: 1; }
  }
}
@media screen and (max-width: 767px) { 
  .page-footer {
    padding: @base round(@column*2);
  }
} 

// SVG heart & legal 
.page-footer-span {
  display: inline-block;
  margin: 0 auto @base/2 auto;
  text-transform: uppercase;
  border: 1px solid @light-grey;
  line-height: 1.0;
  padding: 5px;
  font-family: @type-secondary;
  .user-select();
  .transition(1s);
  &:hover {
    background: @red;
    color: @white;
    border-color: fadeOut(@white,100%);
    svg {
      fill: @white;
    }
  }
}
.page-footer-heart {
  fill: @design;
  top: -1px;
  svg {
   .animation(pulse, 3s, infinite);
    .transition();
  }
}
.page-footer-legal {
  max-width: 350px;
  margin: 0 auto @base/2 auto;
  opacity: 0.3;
  .transition();
}

@import '../partial/animate';


/* 
 * <noscript> warning
 */
.noscript {
  height: auto;
  width: 100vw;
  position: fixed;
  top: @base*3;
  z-index: 2;
  text-align: center;
  color: @white;
  background: @design;	
}

/* 
 * Styles for $page templates
 */

.flex-layout {
  min-height: 100vh;
  display: -wekit-flex;
  display:   -moz-flex;
  display:    -ms-flex;
  display:        flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main {
  -webkit-flex: 1;
     -moz-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

// flex-children
.default-header {
  padding: (@base*2)+75px round(@column, 2) @base round(@column, 2);
}

.default-content {
  padding: 0 0 round(@base-padding*1.5, 2) 0;
  p, ul, ol, code {
    max-width: 600px;
    margin: @base auto;
  }
  p { 
    padding: 0 round(@column*1);
  }
}

img {
  float: left;
  clear: both;
  height: auto;
  max-width: 40%;
  margin: @base @base @base 0;
}
@media screen and (max-width: 350px) { 
  img {
    max-width: 100%; 
  }
}
  
// article page styles
@import '../pages/article';
// category page styles
@import '../pages/category';

/*
 * Crypto-support section
 */
.support {
  background: @dark-grey;
  padding: @base/2 @base @base*2 @base;
  margin-top: @base*2;
  color: @white;  
}
.coin {
  
  // colors
  @color-dogecoin: rgb(239, 211, 0);
  @color-bitcoin: @blue;

  padding: @base/5;
  margin: 0 auto;
  text-align: center;
  overflow-x: scroll;
  transition: 1s;
  max-width: 200px;
  
  &.bit { 
    border: 2px solid;
    background: fadeOut(@color-bitcoin,75%); 
    color: @color-bitcoin; 
  }
  &.doge { 
    margin: @base/2 auto; 
    border: 2px solid; 
    background: fadeOut(@color-dogecoin,75%); 
    color: @color-dogecoin; 
  }
  
  &:hover {
    max-width: 500px;
  }
  &::-webkit-scrollbar { display: none; }
  
}
@media screen and (max-width: 767px) { 
  .coin {
    max-width: 100%;
    opacity: 0.8;
    &::-webkit-scrollbar { display: block; width: 2px; height: 5px; margin: 0 0 5px 0; position: absolute; }
    &::-webkit-scrollbar-track-piece  { border: none; }
    &::-webkit-scrollbar-thumb:horizontal { background: fadeOut(@dark-grey, 85%);}
  }
}

/* 
 * Image styles
 */
.img-portrait,
.img-fill {
  float: none; 
  clear: none;
  max-width: 100%;
  margin: -@base auto @base auto;
  display: block;
}
.img-portrait { border-radius: 100%; }
.img-fill { margin: 0 auto; width: 100%; }