/*------------------------------------*\
    $BASELINE
\*------------------------------------*/

/*
 * Browser specific styles:
 * 1
 */
::-moz-selection { 
  background-color: @dark-grey; 
  color: @white; 
}
::selection { 
  background-color: @dark-grey; 
  color: @white; 
}
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track-piece  { border-left: 1px solid @light-grey; }
::-webkit-scrollbar-thumb:vertical { 
  background: darken(@light-grey,5%); 
  &:hover { background: @dark-grey; } 
}

/*
 * Site-wide, global header
 */
.page-header {
	
  position: fixed;
  height: 75px;
  width: 100%;
  top: 0;
  z-index: 4;
  background: @white;
  border-bottom: 1px solid @light-grey;
  .transition();
	
	// SVG branding
	.branding {
		position: absolute;
		width: 75px;
		left: 50%;
		margin: 2.5px auto 0 -39.5px;
		padding: 5px 0 0 0;
    z-index: 3;
	}
	
	// when scrolling down
	&.headroom--unpinned {
    .transform(translateY(-100px));
	}
	
}

/*
 * Page navigation
 */
@import 	'../partial/navigation';


/* 
 * Site-wide, global footer
 */
.page-footer {
  padding: @base round(@column*6);
  text-align: center;
  letter-spacing: 1px;
  .transition();
  &:hover {
    .page-footer-legal { opacity: 1; }
  }
}
@media screen and (max-width: 767px) { 
  .page-footer {
    padding: @base round(@column);
  }
} 

// SVG heart & legal 
.page-footer-span {
  display: inline-block;
  margin: 0 auto @base/2 auto;
  text-transform: uppercase;
  border: 1px solid @light-grey;
  line-height: 1.0;
  padding: 5px;
  font-family: @type-secondary;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  .transition(1s);
  &:hover {
    background: @red;
    color: @white;
    border: none;
    svg {
      fill: darken(@design, 25%);
    }
  }
}
.page-footer-heart {
  fill: @design;
  top: -1px;
  svg {
   .animation(pulse, 3s, infinite);
  }
}
.page-footer-legal {
  max-width: 350px;
  margin: 0 auto @base/2 auto;
  opacity: 0.3;
  .transition();
}

@import '../partial/animate';


/* 
 * <noscript> warning
 */
.noscript {
  height: auto;
  width: 100vw;
  position: fixed;
  top: @base*3;
  z-index: 2;
  text-align: center;
  color: @white;
  background: @design;	
}

/* 
 * Styles for $page templates
 */

.flex-layout {
  min-height: 100vh;
  display: -wekit-flex;
  display:   -moz-flex;
  display:    -ms-flex;
  display:        flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main {
  -webkit-flex: 1;
     -moz-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page {
  
  // flex-children
  .default-header {
    padding: (@base*2)+75px round(@column, 2) @base round(@column, 2);
  }
  
  .default-content {
    margin: @base auto;
    padding: 0 round(@column*1) round(@base-padding*1.5, 2) round(@column*1);
    max-width: 600px;
  }
  
  img {
    float: left;
    clear: both;
    height: auto;
    max-width: 40%;
    margin: @base @base @base 0;
  }
  @media screen and (max-width: 350px) { 
    img {
      max-width: 100%; 
    }
  }
}
  
// article page styles
@import '../pages/article';
// category page styles
@import '../pages/category';

/*
 *
 */
.coin {
  
  // colors
  @color-dogecoin: rgb(239, 211, 0);
  @color-bitcoin: @blue;

  padding: @base/5;
  margin: 0 auto;
  text-align: center;
  overflow-x: scroll;
  transition: 1s;
  max-width: 200px;
  opacity: 0.5;
  
  &.bit { background: @color-bitcoin; color: darken(@color-bitcoin, 15%); }
  &.doge { margin: @base/2 auto; background: @color-dogecoin; color: darken(@color-dogecoin, 15%); }
  
  &:hover {
    max-width: 100%;
    opacity: 0.95;
  }
   &::-webkit-scrollbar { display: none; }
}
@media screen and (max-width: 767px) { 
  .coin {
    max-width: 100%;
    opacity: 0.8;
    &::-webkit-scrollbar { display: block; width: 2px; height: 5px; margin: 0 0 5px 0; position: absolute; }
    &::-webkit-scrollbar-track-piece  { border: none; }
    &::-webkit-scrollbar-thumb:horizontal { background: fadeOut(@dark-grey, 85%);}
  }
}