/*------------------------------------*\
    $BASELINE
\*------------------------------------*/

/*
 * Browser specific styles
 */
::-moz-selection { 
	background-color: @dark-grey; 
	color: @white; 
}
::selection { 
	background-color: @dark-grey; 
	color: @white; 
}
::-webkit-scrollbar { 
	position: absolute; 
	width: 10px; 
}
::-webkit-scrollbar-track-piece  { 
	background-color: @dark-grey;
}
::-webkit-scrollbar-thumb:vertical { 
	height: 25%; 
	background: @light-grey;
	box-shadow: inset @base-box-shadow;
}

/*
 * Site-wide, global header
 */
.page-header {
	
	// header container
	position: fixed;
	height: 75px;
	width: 100%;
	top: 0;
	z-index: 999999;
	background: @dark-grey;
	border-top: 3px solid @design;
	box-shadow: @base-box-shadow;
	transition: 0.5s ease;
	
	// SVG branding
	.branding {
		position: absolute;
		width: 75px;
		left: 50%;
		margin: 2.5px auto 0 -39.5px;
		padding: 10px 0 0 0;
	}
	
	// when scrolling down
	&.unpinned {
		-webkit-transform: rotateX(-90deg) translateY(-30px);
		-webkit-transform-origin: top;
		transition: 0.5s ease;
	}
	
	// when scrolling up
	&.pinned {
	}
	
	// red bar at the top of the header
	&:before {
		content: '';
		position: absolute;
		height: 100px;
		width: 100px;
		left: 50%;
		margin-left: -52px;
		border-top-left-radius: 100%;
		background: @dark-grey;
		-webkit-transform: rotate(45deg);
	}
		
}

/*
 * Page navigation
 */
@import 	'../partial/navigation';


/* 
 * Site-wide, global footer
 */
.page-footer {
	
	// footer container
	padding: @base-padding*3-5 0 @base-padding*3-5 0;
	background: @dark-grey;	
	color: @white;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px rgba(10,10,11,0.15);
	box-shadow: inset 1px 1px rgba(10,10,11,0.1);
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	
		// green line at the bottom of the footer
		&:after {
			content: '';
			display: block;
			position: relative;
			width: 100%;
			height: 5px;
			top: 70px;
			background: @video;
		}
	
	}

	// SVG heart 
	.page-footer-heart {
		fill: @design;	
	}
	
	// links
	.page-footer-link {
		color: @white !important;
		border-bottom: 2px solid @video !important;
	}
	
/* 
 * <noscript> warning
 */
.noscript {
	height: auto;
	padding: @base-padding/5;
	text-align: center;
	color: @white;
	background: @design;	
}

/*
 * $Homepage title
 */
.home-title {
	
	padding: @base-padding*6 0 @base-padding*4 0;	
	text-align: center;
	background: darken(@dark-grey, 15%);
	
	}

	.home-title-heading { // h1
		display: inline-block;
		padding: @base-padding/2-2.5;
		border: 3px solid fadeOut(@design, 50%);
		text-transform: uppercase;
		text-shadow: 1px 1px rgba(10,10,11,0.1), 2px 2px rgba(10,10,11,0.1);	
		box-shadow: 1px 1px rgba(10,10,11,0.1), 2px 2px rgba(10,10,11,0.1);	
	}
	
	.home-title-subheading { // p
		color: @white;	
	}
	
.home-feed {
	display: inline-block;
	width: 100%;
	padding: 0 @column @column @column;
}

// <article class=featured-content>
.featured-content {
	
	float: left;
	clear: right;
	width: @column*16;
	margin: @column 0 0 0;
	padding: 0;
	color: @white;
	background: @dark-grey;
	text-align: center;
	
}
	// <picture class=featured-content-image>
	.featured-content-image {
		width: 100%;
	}

		// small image 
		.image-small {
		
		}
		// large image
		.image-large {
	
		}
		// fallback image
		.image-fallback {
			display: block;
			width: 100%;
			opacity: 0.9 !important;
		}

	// <header class=featured-content-header>
	.featured-content-header {
		padding: @base-padding;
		overflow: hidden;
		height: 25px;
		background: fadeout(@design, 30%);
		box-shadow: inset 1px 5px 15px rgba(10,10,11,0.1);
	}

	// <section class=featured-content-section>
	.featured-content-section {
		padding: @base-padding;
		line-height: 1.0;
		box-shadow: 1px 5px 15px rgba(10,10,11,0.1);	
	
	}

	// <footer class=featured-content-footer>
	.featured-content-footer {
		padding: @base-padding/5;
		font-family: 'open sans italic';
		color: @dark-grey;
		background: @white;
	}
		
		// <time class=featured-content-date >
		.featured-content-date  {
		}

	// large screen media has :hover effect for article preview
	// small screen media does not
	@media screen and (min-width: 40em) {
		
		.featured-content {
			
			width: @column*6;
			margin: @column @column*5 0 @column*5;
		
		}
		
	}

.home-dribbble {
	display: inline-block;	
}

.index-about {
	padding: @base-padding*1 0 @base-padding*8 0; 
	text-align: center;
	background: @video;
}


/*
 * $About Me Page
 */

.about {
	
	}


	.biography {
		
		padding: @base-padding*4 @column*2 @base-padding*4 @column*2;	
		color: @white;
		background: darken(@dark-grey, 15%);

	}
	
	.service {
		
		position: relative;
		padding: 100px 0 150px 0;
		text-shadow: 1px 1px rgba(10,10,11,0.1), 2px 2px rgba(10,10,11,0.1);	

		&.design {
			
			color: @red;
			background: @dark-grey;
		
			&:before {
				content: '';
			}
			
		}
		
		&.video {
			
			color: @video;
			background: darken(@dark-grey, 5%);
			
		}
		
		&.audio {
			
			color: @audio;
			background: darken(@dark-grey, 10%);
			
		}
		
	}
	


/*
 * $Landing Page
 */ 
.landing {
	
	color: @white;
	text-align: center;
	padding: @base-padding*8 @column*2 @base-padding*12 @column*2;	
	background: darken(@dark-grey, 15%);
	
	}
	
	.landing-title {
		color: @design;
		font-size: 72px;
		margin-bottom: @base-margin;
		text-shadow: 1px 1px rgba(10,10,11,0.1), 2px 2px rgba(10,10,11,0.1);	
	}
	
	.landing-subtitle {
		opacity: 0.5;
	}

/* 
 * Styles for $page templates
 */
.page {
	
		// properties for all pages w/ container
		.container {
			padding: @base-padding*2 0 @base-padding*4 0;
		}
		
		// properties for the default page template
		&.default {
			padding: 0 0 @base-padding*4 0;
		}
	
	}

	//  properties for the article post template
	@import 	'../pages/article';

	//  properties for the category page template
	@import 	'../pages/category';