<footer class="page-footer {{#if post ~}}article{{~/if~}}">
  <p><small>
    <div class=page-footer-legal>
      &copy;{{site.copyright}} | Unless otherwise stated, content licensed
      <a href=http://creativecommons.org/licenses/by-nc-sa/4.0/ rel=license class=line>CC BY-ND</a>.
      <a href=http://github.com/pburtchaell/site rel=external class=line>Source</a>
      licensed <a href=http://pb.mit-license.org/ rel=external class=line>MIT</a>.<br>
    </div>
    <a href=/colophon rel=source>
      <span class=page-footer-span>Made with<object class=page-footer-heart>
        <svg x=0 y=0 width=10px height=10px viewBox="0 0 10 8.1396484">
          <path d="M9.1796875, 0.6699219c-0.9726563-0.8925781-2.5478516-0.8925781-3.5205078,0L5,
                      1.2753906L4.3398438,0.6699219 c-0.9726563-0.8925781-2.5478516-0.8925781-3.5205078,0c-1.0927734,
                      1.0029297-1.0927734,2.6308594,0,3.6337891L5,8.1396484 l4.1796875-3.8359375C10.2734375,
                      3.3007813,10.2734375,1.6728516,9.1796875,0.6699219z"/>
          </svg></object>&nbsp;in New Orleans<br>
      </span><br>
    </a>
  </small></p>
</footer><!-- /page-footer -->
