</head>
<body class=flex-layout>
<header class="page-header {{#if work}}portfolio{{/if}}">
  <noscript>
    <div class=noscript>
      <small>
        In order to have the best experience of my site, please enable JavaScript. If you don't, comments, navigation, and search will not operate.
      </small>
    </div>
  </noscript>
  {{#if date}}
   <div class=article-reading-time>
      <small>
        <span class=label-wordcount> words</span>
        <span class=label-reading-time> read</span>
      </small>
    </div>
  {{else}}
  {{/if}}
  <a href="/">
    <object class=branding>
      <svg version="1.1" id="branding_1_"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="12.5 12.5 50 50" enable-background="new 12.5 12.5 50 50" xml:space="preserve">
        <g id="branding-audio">
          <path d="M50.5,55.9l-12-12l12-12l12,12L50.5,55.9z M39,43.9l11.5,11.5L62,
                  43.9L50.5,32.3L39,43.9z M50.5,47.1
                  l-3.3-3.3l3.3-3.3l3.3,3.3L50.5,47.1z M47.7,43.9l2.8,2.8l2.8-2.8l-2.8-2.8L47.7,43.9z"/>
        </g>
        <g id="branding-video">
          <path d="M37.5,43.1l-12-12l12-12l12,12L37.5,43.1z M26,31.1l11.5,11.5L49,31.1L37.5,19.6L26,31.1z M37.5,34.4
              l-3.3-3.3l3.3-3.3l3.3,3.3L37.5,34.4z M34.7,31.1l2.8,2.8l2.8-2.8l-2.8-2.8L34.7,31.1z"/>
        </g>
        <g id="branding-design">
          <path d="M24.5,55.9l-12-12l12-12l12,12L24.5,55.9z M13,43.9l11.5,11.5L36,43.9L24.5,32.3L13,43.9z M24.5,47.1
              l-3.3-3.3l3.3-3.3l3.3,3.3L24.5,47.1z M21.7,43.9l2.8,2.8l2.8-2.8l-2.8-2.8L21.7,43.9z"/>
        </g>
      </svg>
    </object>
  </a>
  <nav class=page-nav role=navigation>
    <ul class=nav-items>
      <li class=nav-item id=about><a href=/about>About</a>
      <li class=nav-item id=work><a href=/work>Work</a>
      <li class=nav-item id=writing><a href="/">Writing</a>
    </ul>
    <script>
      var header = document.querySelector("header");
      var headroom = new Headroom(header); headroom.init();
      currentLinkModule.init();
    </script>
  </nav>
</header><!-- /page-header -->
