</head>
<body class=flex-layout>
<header class="page-header {{#if work}}portfolio{{/if}}">
  <noscript>
    <div class=noscript>
      <small>
        In order to have the best experience of my site, please enable JavaScript. If you don't, comments, navigation, and search will not operate.
      </small>
    </div>
  </noscript>
  <a href={{site.url}}>
    <object class=branding>
      <svg>
        <path id="branding-audio" stroke-miterlimit="10" 
              d="M56.379,42.894l4.377,4.377 l-4.377,4.378l-4.378-4.378L56.379,42.894 M56.379,30.15L39.258,47.271l17.121,17.121L73.5,47.271L56.379,30.15L56.379,30.15z"/>
        <path id="branding-video" stroke-miterlimit="10" 
              d="M37.508,24.351l4.377,4.378 l-4.377,4.377l-4.378-4.377L37.508,24.351 M37.508,11.608L20.387,28.729L37.508,45.85l17.121-17.121L37.508,11.608L37.508,11.608z"/>
        <path id="branding-design" stroke-miterlimit="10" 
              d="M18.621,42.894l4.378,4.377l-4.378,4.378l-4.378-4.378L18.621,42.894 M18.621,30.15L1.5,47.271l17.121,17.121l17.121-17.121 L18.621,30.15L18.621,30.15z"/>
      </svg>
    </object>
  </a>
  <nav class=nav-collapse role=navigation>
    <ul class="nav-items left">
      <li class=name>Patrick Burtchaell
      <li class=name><small>New Orleans Designer</small>
      <li class=nav-item><a href={{site.url}}/about id=about>About</a>
    </ul>
    <ul class="nav-items right">
      <li class=nav-item><a href={{site.url}}/work id=work>Work</a>
      <li class=nav-item><a href={{site.url}} id=writing>Writing</a>
    </ul>
    <script>
      var header = document.querySelector("header");
      var headroom = new Headroom(header); headroom.init(); 
      var navigation = responsiveNav(".nav-collapse");
    </script>
  </nav>
</header><!-- /page-header -->
