<noscript>
<div class="noscript">In order to have the best experience of my site, please enable JavaScript. <em>If you don't</em>, comments, navigation, and search will not operate. *sadface*</div>
</noscript>
<header class="page-header">
	<object><svg x="0px" y="0px" width="75px" height="75px" viewBox="0 0 75 75"><g><g><path id="BG_25_" fill="#66FFFF" d="M34.856,56.4l-4.627,4.628L25.602,56.4l4.628-4.628L34.856,56.4 M48.329,56.4l-18.1-18.1 l-18.1,18.1l18.1,18.1L48.329,56.4L48.329,56.4z"/><path id="BG_24_" fill="#B3FFC6" d="M53.402,37.509l-4.628,4.628l-4.628-4.628l4.628-4.628L53.402,37.509 M66.874,37.509 l-18.1-18.1l-18.1,18.1l18.1,18.099L66.874,37.509L66.874,37.509z"/><path id="BG_23_" fill="#FF7D7D" d="M34.856,18.6l-4.627,4.628L25.602,18.6l4.628-4.628L34.856,18.6 M48.329,18.6l-18.1-18.1 l-18.1,18.1l18.1,18.1L48.329,18.6L48.329,18.6z"/></g></g></svg></object>
	<nav class="page-nav" role="navigation">
		<ul>
			<li><a href="" rel="prefetch">Home</a>
			<li><a href="about" rel="prefetch">About</a>
			<li><a href="work" rel="prefetch">Work</a>
			<li><a href="blog" rel="prefetch">Blog</a>
			<!--<li><a href="lab" rel="prefetch">Lab</a>-->
		</ul>
	</nav>
</header>