.list-view-item {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

/*
 * There should be no padding on the first row of list view items.
 */
.list-view-item-container:nth-of-type(1) .list-view-item,
.list-view-item-container:nth-of-type(1) .list-view-item {
  margin-top: 0;
}
