---
title: Home
layout: none
---
{{> head ~}}
{{> header ~}}

<main role=main id=article-feed>
  <section class=article-feed>

      {{#withSort post 'this.data.date'}}
        {{#each this.pages}}
        <article class=article-feed-item>
          <header>
            <a href="{{findURL this.dest 'dest' ''}}" rel=prefetch role=link class=line>
              <em><span class=article-feed-title>{{this.data.title}}</span></em>
            </a>
            <small><time class=article-feed-time>{{prettyDate this.data.date}}</time></small>
          </header>
        </article>
        {{/each ~}}
      {{/withSort ~}}

  </section><!-- /article-feed -->
</main>

{{> footer ~}}
{{> script ~}}
