---
title: 'Work With Me'
layout: none
feature:
  fullWidthImage: true
  work: true
  angular: apps/work/app.js
work: true
---
{{> head }}
{{> header }}
<main role=main class="page page-work" data-ng-app=work data-ng-view>
  <!-- AngularJS <3 -->
</main>
{{> footer }}
{{> script }}
