---
title: 'Work With Me'
layout: none
feature:
  fullWidthImage: true
  work: true
  angular: apps/work/app.js
work: true
---
{{> head }}
{{> header }}
<main role=main data-ng-app=work data-ui-view></main>
{{> script }}
