a,
a:active,
a:hover {
  color: var(--blue);
  text-decoration: none;
  background-color: transparent;
}

a.a--arrow-left::after {
  content: "\2192";
  margin-left: var(--default-vertical-margin);
}

a.a--arrow-right::before {
  content: "\2190";
  margin-right: var(--default-vertical-margin);
}

a.a--arrow-upright::after {
  content: "\2197";
  margin-left: var(--default-vertical-margin);
}
