p {
  margin: 2rem 0;
  hyphens: none;
}

p:first-child {
  margin: 0;
}

hr {
  display: block;
  width: 100%;
  margin: 0 0 1rem 0;
  border: none;
  border-bottom: 1px solid var(--lightest-gray);
  background: none;
}

small,
.small-block {
  margin: 0;
  margin-bottom: -2rem;
  display: block;
  hyphens: none;
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
  color: var(--light-gray);
}

.small-inline {
  display: inline-block;
}
