.about-title {
    text-align: left !important; 
    font-size: 4.5rem; 
}

.about-subtitle {
  text-align: left;
  color: fadeout(@dark-grey, 50%);
}

.about-page {
  background: @light-grey;        
}

.about-page-image {
  color: fadeout(@dark-grey, 90%);
  a {
    color: fadeout(@blue, 50%) !important;
  }
  background: url('../img/site/about.jpg') center center / cover no-repeat fixed;
  background-clip: text;
  -webkit-background-clip: text;
}
