a {
  text-decoration: none;
  color: @color-black--001;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

li a,
p a {
  color: @color-blue--001;

  &:hover,
  &:active {
    color: @color-blue--001;
    outline-width: 0;
    background-image: linear-gradient(@color-blue--001 0%, @color-blue--001 100%);
    background-repeat: repeat-x;
    background-size: 1px 2px;
    background-position: 0 95%;
    text-shadow: 3px 0  @color-white--001, 2px 0  @color-white--001, 1px 0  @color-white--001, -1px 0  @color-white--001, -2px 0  @color-white--001, -3px 0 @color-white--001;

    &.is-gray {
      text-shadow: 3px 0 @color-gray--003, 2px 0 @color-gray--003, 1px 0 @color-gray--003, -1px 0 @color-gray--003, -2px 0 @color-gray--003, -3px 0 @color-gray--003;
    }
  }
}

p a {
  
}
