a,
a:active,
a:hover {
  color: var(--black);
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

p a,
li a {
  color: var(--blue);
}

p a:hover,
p a:active,
li a:hover,
li a:active {
  color: var(--blue);
  outline-width: 0;
  background-image: linear-gradient(var(--blue) 0%, var(--blue) 100%);
  background-repeat: repeat-x;
  background-size: 1px 2px;
  background-position: 0 95%;
  text-shadow: 3px 0 var(--white), 2px 0  var(--white), 1px 0  var(--white), -1px 0  var(--white), -2px 0  var(--white), -3px 0 var(--white);
}
