a {
  text-decoration: none;
  color: black;
  text-decoration: underline;
  text-decoration-color: black;

  &:hover,
  &:active {
    color: gold;
    text-decoration-color: gold;
  }

  img {
    border: none;
  }
}
