p {
  margin: 2rem 0;
  hyphens: none;
}

hr {
  display: block;
  width: 100%;
  margin: 0 0 1rem 0;
  border: none;
  border-bottom: 1px solid var(--lightest-gray);
  background: none;
}

small,
.small {
  margin: 0;
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
  color: var(--light-gray);
}
