p {
  margin-top: 2rem;
  margin-bottom: 3rem;
  hyphens: auto;
  position: relative;
}

small {
  font-size: 2rem;
  line-height: 3rem;
}

h2 a {
  color: #5F595A;
}

hr {
  display: block;
  width: 200px;
  margin: 0 0 3rem 0;
  border: @default-border-width solid @color-gray--002;
  background: @color-gray--002;
}
