h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
  margin: var(--h1-margin);
  color: var(--h1-color);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);
  margin: var(--h2-margin);
  color: var(--h2-color);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
  text-transform: uppercase;
  letter-spacing: 0.1ex;
  margin: var(--h3-margin);
  color: var(--h3-color);
}
