---
title: Designer and web developer from New Orleans
description: 'I am Patrick Burtchaell, a designer and front end web developer from New Orleans. I build and design products for the web and for print.'
template: base.hbs
aboluteheader: true
---
<section class="default page">
  <section class=default-content>
    <div class="row row-large">
      <div class="col col-l-12 col-s-12">
        <h1 class="about-title">
          <span>Patrick Burtchaell,</span>
          <span><b>design &amp; computer science student</b> at Loyola University New Orleans, and</span>
          <span><b>junior front end web developer</b> at Peach.</span>
        </h1>
        <h2 class=about-subtitle>I build and design products for the web and for print.</h2>
        <h2 class=about-subtitle>
          Open to working with all and everything, my venture is about designing great products, working with others, meeting new people and teams, and gaining new experiences.
        </h2>
      </div>
    </div>
  </section>
</section>
