.case-study-module {
  &.module-media-full-width {
    max-width: 100%;
    margin: 1.5rem 0;

    video {
      position: relative;
      display: block;
      margin: 0 auto;
      padding: 0 3rem;
      box-sizing: border-box;
    }
  }
}
