/**
 * Base responsive break-points
 */
@screen-large: 864px;
@screen-medium: 576px;
@screen-small: 436px;

// BASE REM SIZE
@size: 26px;

/**
 * Typography
 */
@font-family-primary: 'web-din-pro', @font-stack;
@font-family-secondary: 'web-din-pro', @font-stack;
@font-stack: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@font-size-base: .65rem;
@font-size-small: .5rem;
@font-size-large: 1.5rem;
@line-height-base: 1rem;
@line-height-small: 1rem;
@line-height-large: 2rem;

/**
 * Branding colors
 */
@color-branding-primary: @color-black;
@color-branding-secondary: @color-black;
@color-white: rgb(157, 220, 249);
@color-black: rgb(51, 100, 188);
@color-grey: rgb(146, 197, 234);
@color-grey-light: rgb(146, 197, 234);
@color-grey-dark: rgb(146, 197, 234);
@color-yellow: rgb(254, 219, 180);
@color-teal: rgb(239, 65, 86);
@color-red: rgb(239, 65, 86);
@color-green: rgb(164, 218, 210);
