@import '../../styles/variables.css';

.route__footer {
  position: relative;
  padding: 2rem 0;
  margin-top: var(--large-margin);
  color: var(--light-gray);
  border-top: 1px solid var(--lightest-gray);
  user-select: none;
}

/**
 * All links in the footer must be gray to match the text color.
 */
.route__footer__link {
  color: var(--light-gray);
}

.route__footer__link:hover {
  color: var(--dark-gray);
}

/**
 * These styles apply to the link in the left column of the footer.
 */
.route__footer__link--left::before {
  content: '\2190';
  margin-right: .5rem;
}

/**
 * These styles apply to the link in the center column of the footer.
 */
.route__footer__link--center {
  text-align: center;
}

.route__footer__link--center::before {
  content: '\2191';
  margin-right: var(--default-vertical-margin);
}

/**
 * Flexbox styles are used to align the text message—"Made with <3"— and
 * the copyright text.
 */
.route__footer__column {
  display: flex;
  flex-direction: column;
}

/**
 * These styles apply to the text and copyright messages in the right column
 * of the footer.
 */
.route__footer__text {
  text-align: right;
  align-self: flex-end;
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
}

.route__footer__heart {
  fill: var(--red);
  margin-left: .75rem;
  margin-top: 2px;
  position: relative;
}
